<div class="img-banner">
  <p class="alert alert-danger text-center" *ngIf="error">{{error}}</p>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let add of adds">
      <div class="picsum-img-wrapper">
        <img src="{{add.image_url}}" class="d-block w-100" alt="Mask Group" height="400px">
      </div>
      <div class="carousel-caption">
        <!-- <h1 class="title">{{add.title}}</h1>
        <p class="py-3">off<span>70%</span></p> -->
        <a href="{{add.link}}" class="btn" target="_blank"><span>شاهد المزيد</span><img src="../../assets/images/right-arrow.svg" alt="right-arrow"></a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
