<div class="img-banner">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/Mask Group.svg" class="d-block w-100" alt="Mask Group">
      </div>
      <div class="carousel-caption">
        <h1>خصومات تصل إلي </h1>
        <p>off<span>70%</span></p>
        <a href="#"><span>شاهد المزيد</span><img src="../../assets/images/right-arrow.svg" alt="right-arrow"></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/Mask Group.svg" class="d-block w-100" alt="Mask Group">
      </div>
      <div class="carousel-caption">
        <h1>خصومات تصل إلي </h1>
        <p>off<span>70%</span></p>
        <a href="#"><span>شاهد المزيد</span><img src="../../assets/images/right-arrow.svg" alt="right-arrow"></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/Mask Group.svg" class="d-block w-100" alt="Mask Group">
      </div>
      <div class="carousel-caption">
        <h1>خصومات تصل إلي </h1>
        <p>off<span>70%</span></p>
        <a href="#"><span>شاهد المزيد</span><img src="../../assets/images/right-arrow.svg" alt="right-arrow"></a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
