<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/home'>
        <img src="../../assets/images/new_logo.svg" alt="header-logo" width="100%">
      </a>
      <button mat-icon-button 
        (click)="toggleSidebar()" class="menu-btn navbar-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav main-nv  mb-2 mb-lg-0   align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
             routerLink='/home' routerLinkActive="active">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat" routerLinkActive="active">الرسائل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/adds',userId]"  
            routerLinkActive="active">إعلاناتي</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buyingrecord" 
            routerLinkActive="active">سجل الشراء</a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn  custom dropdown-toggle" 
              id="dropdownMenuButton1" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
              <span class="ps-1">المزيد</span><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 10.3529L16 2.58778L13.3321 0L8 5.17739L2.66792 0L0 2.58778L8 10.3529Z" fill="#FAFAFA"/>
                </svg>
            </button>
            <div class="collapse dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <ul class="more-list">
                <div class="row">
                  <div class="col-6">
                    <li class="mb-1">
                      <button class="btn adds custom collapsed" (click)="stopPropagation($event);"
                      data-bs-toggle="collapse" data-bs-target="#forms-collapse2" aria-expanded="false">
                      <img class="ps-2" src="../../assets/images/apps_icon.svg" alt="apps"><span>التطبيقات</span>
                      </button>
                      <div class="collapse" id="forms-collapse2" >
                        <ul class="adds-list">
                            <li *ngFor="let category of categories">
                              <a [routerLink]="['/home']" fragment="{{category.slug}}" class="d-inline-flex align-items-center rounded">{{category.title}}</a>
                            </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a  [routerLink]="['/adds',userId]">
                        <img class="ps-2" src="../../assets/images/favorate_icon.svg" alt="favorate_icon">المفضله</a>
                    </li>
                    <li class="spec">
                      <a  routerLink="/address">
                        <img class="ps-2" src="../../assets/images/addlist_icon.svg" alt="addlist_icon">قائمه العناوين</a>
                    </li>
                    <li>
                      <a  routerLink="/subscriptions">
                        <img class="ps-2" src="../../assets/images/subscription_icon.svg" alt="subscribtion_icon">الاشتراكات</a>
                    </li>
                    <li>
                      <a  routerLink="/new-add">
                        <img class="ps-2" src="../../assets/images/addproduct_icon.svg" alt="addproduct_icon">اضافه اعلان</a>
                    </li>
                    <li>
                      <a [routerLink]="['/chat']">
                        <img class="ps-2" src="../../assets/images/chatwithus_icon.svg" alt="chatwithus_icon">الدعم</a>
                    </li>
                  </div>
                  <div class="col-6">
                    <li class="spec" *ngIf="authService.isRegister | async">
                      <a  routerLink="/profile">
                        <img class="ps-2" src="../../assets/images/accountSetting.svg" alt="">اعدادت الحساب</a>
                    </li>
                    <li>
                      <a  (click)="termsCondition('privacy_policy')">
                        <img class="ps-2" src="../../assets/images/whoweare_icon.svg" alt="whoweare_icon">من نحن</a>
                    </li>
                    <li>
                      <a  [routerLink]="['/adds',userId]">
                        <img class="ps-2" src="../../assets/images/myorders_icon.svg" alt="myorders_icon">طلباتى</a>
                    </li>
                    <li class="spec">
                      <a class="" (click)="termsCondition('terms_conditions')">
                        <img class="ps-2" src="../../assets/images/termsandcondition_icon.svg" alt="termsandcondition_icon">الشروط والاحكام</a>
                    </li>
                    <li *ngIf="authService.isRegister | async">
                      <a  (click)="logOut()">
                        <img class="ps-2" src="../../assets/images/exit_icon.svg" alt="exit_icon">تسجيل خروج</a>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav main-nv mb-2 mb-lg-0  p-0 align-items-center">
          <li class="nav-item dropdown">
            <button class="btn custom dropdown-toggle" 
              id="dropdownMenuButton2" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
              <span class="ps-1">العربيه</span><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.01 0C15.53 0 20 4.48 20 10C20 15.52 15.53 20 10.01 20C4.48 20 0 15.52 0 10C0 4.48 4.48 0 10.01 0ZM3.08 6H6.03C6.35 4.75 6.81 3.55 7.41 2.44C5.57 3.07 4.04 4.35 3.08 6ZM10 2.04C9.17 3.24 8.52 4.57 8.09 6H11.91C11.48 4.57 10.83 3.24 10 2.04ZM17.74 12C17.9 11.36 18 10.69 18 10C18 9.31 17.9 8.64 17.74 8H14.36C14.44 8.66 14.5 9.32 14.5 10C14.5 10.68 14.44 11.34 14.36 12H17.74ZM16.92 14H13.97C13.65 15.25 13.19 16.45 12.59 17.56C14.43 16.93 15.96 15.66 16.92 14ZM13.97 6H16.92C15.96 4.34 14.43 3.07 12.59 2.44C13.19 3.55 13.65 4.75 13.97 6ZM10 17.96C10.83 16.76 11.48 15.43 11.91 14H8.09C8.52 15.43 9.17 16.76 10 17.96ZM7.66 12H12.34C12.43 11.34 12.5 10.68 12.5 10C12.5 9.32 12.43 8.65 12.34 8H7.66C7.57 8.65 7.5 9.32 7.5 10C7.5 10.68 7.57 11.34 7.66 12ZM7.41 17.56C6.81 16.45 6.35 15.25 6.03 14H3.08C4.04 15.65 5.57 16.93 7.41 17.56ZM5.64 12C5.56 11.34 5.5 10.68 5.5 10C5.5 9.32 5.56 8.66 5.64 8H2.26C2.1 8.64 2 9.31 2 10C2 10.69 2.1 11.36 2.26 12H5.64Z" fill="#FAFAFA"/>
                </svg>
            </button>
            <div class="collapse lang dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <ul class="more-list">
                <li>
                  <a class="pe-none">العربيه</a>
                </li>
              </ul>
            </div>
          </li>
            <li class="nav-item p-0" *ngIf="!(authService.isRegister | async)">
              <button class="btn create-account" routerLink="register">تسجيل الدخول</button>
            </li>
            <li class="nav-item" *ngIf="authService.isRegister | async">
              <a class="nav-link" routerLink="/profile">
                <img src="../../assets/images/profile_icon (2).svg" alt="profile_icon">
              </a>
            </li>
            <li class="nav-item" *ngIf="authService.isRegister | async">
              <a class="nav-link" (click)="logOut()">
                <img src="../../assets/images/exit.svg" alt="exit">
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="toast align-items-center text-white bg-success border-0" 
  role="alert" aria-live="assertive" aria-atomic="true" id="toastSuccess">
    <div class="d-flex">
      <div class="toast-body">
        {{msgSucess}}
      </div>
      <button type="button" class="btn-close btn-close-white ms-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  <div class="toast align-items-center text-white bg-danger border-0" 
  role="alert" aria-live="assertive" aria-atomic="true" id="toastFaild">
    <div class="d-flex">
      <div class="toast-body">
        {{error}}
      </div>
      <button type="button" class="btn-close btn-close-white ms-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

