<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/home'>
        <img src="../../assets/images/header-logo.svg" alt="header-logo" width="100%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav main-nv  mb-2 mb-lg-0   align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/home' routerLinkActive="active">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat" routerLinkActive="active">الرسائل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adds" routerLinkActive="active">إعلاناتي</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buyingrecord" routerLinkActive="active">سجل الشراء</a>
          </li>
          <li class="nav-item">
            <button class="btn collapsed custom" data-bs-toggle="collapse" data-bs-target="#forms-collapse" aria-expanded="false">
              <span class="ps-1">المزيد</span><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 10.3529L16 2.58778L13.3321 0L8 5.17739L2.66792 0L3.2528e-07 2.58778L8 10.3529Z" fill="#12004C"/>
                </svg>
            </button>
            <div class="collapse" id="forms-collapse" >
              <ul class="more-list">
                <div class="row">
                  <div class="col-6">
                    <li class="mb-1">
                      <button class="btn adds custom collapsed" 
                      data-bs-toggle="collapse" data-bs-target="#forms-collapse2" aria-expanded="false">
                      <img class="ps-2" src="../../assets/images/apps.svg" alt="apps"><span>التطبيقات</span>
                      </button>
                      <div class="collapse" id="forms-collapse2" >
                        <ul class="adds-list">
                            <li *ngFor="let category of categories">
                              <a [routerLink]="['/home']" fragment="{{category.slug}}}" class="d-inline-flex align-items-center rounded">{{category.title}}</a>
                            </li>
                        </ul>
                      </div>
                    </li>
                    <li><a class="" href="#"><img class="ps-2" src="../../assets/images/fav.svg" alt="">المفضله</a></li>
                    <li class="spec"><a class="" routerLink="/address"><img class="ps-2" src="../../assets/images/address.svg" alt="">
                      قائمه العناوين</a></li>
                    <li><a class="" routerLink="/subscriptions"><img class="ps-2" src="../../assets/images/subscribtion.svg" alt="">
                      الاشتراكات</a></li>
                    <li><a class="" href="#"><img class="ps-2" src="../../assets/images/newAdd.svg" alt="">
                      اضافه اعلان</a></li>
                    <li><a class="" href="#"><img class="ps-2" src="../../assets/images/support.svg" alt="">
                      الدعم</a></li>
                  </div>
                  <div class="col-6">
                    <li class="spec"><a class="" routerLink="/profile"><img class="ps-2" src="../../assets/images/accountSetting.svg" alt="">
                      اعدادت الحساب</a></li>
                    <li><a class="" (click)="termsCondition('privacy_policy')"><img class="ps-2" src="../../assets/images/whoweAre.svg" alt="">
                      من نحن</a></li>
                    <li><a class="" href="#"><img class="ps-2" src="../../assets/images/myorders.svg" alt="">
                      طلباتى</a></li>
                    <li class="spec"><a class="" (click)="termsCondition('terms_conditions')"><img class="ps-2" src="../../assets/images/termsConditions.svg" alt="">
                      الشروط والاحكام</a></li>
                    <li><a class="" href="#"><img class="ps-2" src="../../assets/images/exit.svg" alt="">
                      تسجيل خروج</a></li>
                  </div>
                </div>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav main-nv mb-2 mb-lg-0   align-items-center">
            <li class="nav-item" *ngIf="!(authService.isRegister | async)">
              <button class="btn create-account" routerLink="register">إنشاء حساب</button>
            </li>
            <li class="nav-item" *ngIf="authService.isRegister | async">
              <a class="nav-link" routerLink="/profile">
                <img src="../../assets/images/profile-icon.svg" alt="profile-icon"></a>
            </li>
            <li class="nav-item" *ngIf="authService.isRegister | async">
              <a class="nav-link" (click)="logOut()"><img src="../../assets/images/exit.svg" alt="exit"></a>
            </li>
          </ul>
      </div>
    </div>
  </nav>