<footer class="site-footer mt-5">
    <div class="container">
      <div class="row pt-5 pb-5 justify-content-between">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-2 d-flex justify-content-center logofooter">
          <div class="footer-widget">
            <a routerLink="/home" class="footer-widget__Logo">
              <img src="../../assets/images/header-logo.svg" alt="logofooter">
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-5 d-flex justify-content-center">
          <ul class="footer-widget__contact">
            <li>
              <a routerLink="/subscriptions">الاشتراكات</a>
            </li>
            <li>
              <a routerLink="/new-add">اضافه اعلان</a>
            </li>
            <li>
              <a routerLink="/chat">تواصل معنا</a>
            </li>
          </ul>
          <ul class="footer-widget__contact">
            <li>
              <a routerLink="/address">العنواين</a>
            </li>
            <li>
              <a routerLink="/buyingrecord">سجل الشراء</a>
            </li>
            <li>
              <a (click)="termsCondition('terms_conditions')">الأحكام والشروط</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 lastwidget">
            <div class="get-apps row">
                <div class="play-store col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                    <a href="https://apps.apple.com/eg/app/goldendeal/id1622588695"
                     target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/images/app-store.svg" alt="app-store">
                    </a>
                </div>
                <div class="google-play col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                    <a href="https://play.google.com/store/apps/details?id=com.app.goldendeal" 
                    target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/images/google-play.svg" alt="google-play">
                    </a>
                </div>
            </div>
            <div class="footer__social pt-5">
               <a href="https://www.instagram.com/" class="p-2"><img src="../../assets/images/instgram-icon.svg" alt="instgram-icon"></a>
               <a href="https://www.facebook.com/" class="p-2"><img src="../../assets/images/facebook-icon.svg" alt="facebook-icon"></a>
            </div>
            <p class="rights pt-3">جميع الحقوق محفوظة لـ  <a href="https://www.macber-eg.com/">Macber.EG </a>2022</p>
        </div>
      </div>
    </div>
</footer>