.card{
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.card-header{
    background: transparent;
    padding: 2rem;
}
.card-header p.header{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.card-body .aggrement p.title{
    color: var(--primary-color);
    font-weight: 500;
}
.card-body .aggrement p.qoran, .card-body .aggrement span{
    color: var(--sec-text);
    font-size: 1rem;
}
.card-body .aggrement p span.sora{
    color: var(--sec-text);
    font-weight: 900;
    font-size: 1.2rem;
}
.form-check {
    padding-right: 2.5em;
}
.form-check .form-check-input {
    float: right;
    margin-right: -2.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
}
.form-check-input:checked {
    background-color: var(--org-color);
    border-color: var(--org-color);
}
.form-check label{
    color: var(--grey-text);
    font-weight: 600;
}
.btn-next{
    padding: .7rem 4.5rem;
}
.btn-next:hover{
    color: var(--white);
}
input[type = 'file'].form-control {
    opacity: 0;
    height: 0px;
}
 label.file-upload{
    width: 150px;
    height: 150px;
    background: var(--gray-color);
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
    border: 1px dashed #3DC4F1;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label.file-upload.invalid{
    border-color: var(--offline);
}
 label.file-upload img{
    width: 65px;
    height: 65px;
}
 label.file-upload p{
    padding-top: 1rem;
    color: var(--org-color);
}
textarea{
    resize: none;
}
input:not([type="checkbox"]) ,textarea, select{
    background: transparent;
    border: none;
    /* box-shadow: 0px 2.13473px 4.26945px rgba(0, 0, 0, 0.25); */
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
input:focus ,
textarea:focus, 
select:focus{
    box-shadow: none;
    /* background-color: #F7F9FD; */
    /* box-shadow: 0px 2.13473px 4.26945px rgba(0, 0, 0, 0.25); */
}
input:not([type= 'checkbox']),select{
    height: 50px;
}
textarea{
    height: 100px;
}
input::placeholder{
    color: var(--sec-text);
}
label{
    color: var(--primary-color);
    font-weight: 600;
}
select{
    background-image: url(../../../assets/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: left 1.75rem center;
}
#label-file{
    border: 1px solid var(--org-color);
    border-radius: 13px;
    cursor: pointer;
    height: 60px;
}
#label-file:hover{
    transform: scale(.97);
}
#label-file span{
    color: var(--org-color);
}
.modal-header{
    border-bottom: none;
}
.modal-body p.review{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}
.modal-body .contnet{
    background: var(--bg-color);
    box-shadow: 0px 5.3037px 5.3037px rgba(0, 0, 0, 0.25);
    border-radius: 7.95556px;
    margin: 1.5rem .7rem;
}
.modal-body .contnet .copy{
    padding: .5rem;
}
.modal-body .contnet .order p.pp-1,
.modal-body .contnet .order p.pp-2,
.modal-body .contnet .order p.pp-3{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}
.modal-body .contnet .order p.pp-2{
    color: var(--org-color);
}
.modal-body .contnet .order p.pp-3 span{
    color: var(--light-blue);
} 
#modelAddImages .modal-header h5{
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}
#modelAddImages .modal-body .content{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 575px) {
    #modelAddImages .modal-body .content{
        flex-direction: column;
    }
}
#modelAddImages .modal-body label.file-upload{
    box-shadow: 0px 3.75926px 18.7963px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 180px;
    border-radius: 0;
    background-color: var(--white);
}
#modelAddImages .modal-body .col-sm-6{
    display: flex;
    justify-content: center;
}
#addFaild .p{
    color: var(--primary-color);
    font-size: 1.33rem;
}
.add_images .col{
    display: flex;
    justify-content: center;
}
.btn_negotiable{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    margin-right: 1rem;
}
.btn_negotiable.btndisabled{
    background-color: var(--primary-color);
    color: var(--white);
}
input.disabled{
    background-color: var(--sec-text);
}
