<div class="add-agrrement pt-5 pb-5">
    <form [formGroup] ="myForm"  (ngSubmit)="submit()" class="row g-3">
        <div class="card">
            <div class="card-header">
                <p class="header text-center">اتفاقيه الاعلان</p>
            </div>
            <div class="card-body" *ngIf="step == 1">
                <div class="aggrement p-sm-5 p-2 ">
                    <p class="title">إتفاقية العمولة <img src="../../../assets/images/arrows.svg" alt="arrows" class="pe-3"></p>
                    <div class="pt-4">
                        <p class="qoran">بسم الله الرحمن الرحيم</p>
                        <p><span>قال الله تعالى</span><span class="sora">:"وَأَوْفُواْ بِعَهْدِ ٱللَّهِ إِذَا عَٰهَدتُّمْ وَلَا تَنقُضُواْ ٱلْأَيْمَٰنَ <br>بَعْدَ تَوْكِيدِهَا وَقَدْ جَعَلْتُمُ ٱللَّهَ عَلَيْكُمْ كَفِيلًا "</span> <span>صدق الله العظيم</span></p>
                    </div>
                    <div class="form-check col-12 col-md-8 pt-4">
                        <input class="form-check-input" type="checkbox" 
                        value="" 
                        id="agrement"
                        formControlName="agrement">
                        <label class="form-check-label" for="agrement">
                            اتعهد واقسم بالله أنا المعلن أن أدفع عمولة الموقع وهي 1% من قيمة الخدمة. وفي حالة تقديم الخدمة لأكثر من شخص فإنني أتعهد بتحويل العمولة عن كل خدمة يتم تقديمها.  كما أتعهد بدفع*العمولة خلال 10 أيام من استلام مبلغ الخدمة 
                        </label>
                        <div *ngIf="f['agrement'].invalid && f['agrement'].untouched" class="text-danger">يجب التحديد</div>
                    </div>
                </div>
            </div>
            <div class="card-body row g-5" *ngIf="step == 2">
                <div class="col-12">
                    <label for="file" class="file-upload">
                        <input
                            formControlName="file"
                            id="file"
                            type="file"
                            class="form-control"
                            multiple=""
                            (change)="onFileChange($event)">
                            <div class="text-center">
                                <img src="../../../assets/images/product-imgs.svg" alt="product-imgs">
                                <p>اضافه صور المنتج</p>
                <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;">
                            </div>
                    </label>
                    <div *ngIf="f['file'].touched && f['file'].errors && f['file'].errors['required']" class="text-danger">يجب اضافه صور</div>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">رقم البائع</label>
                    <input type="text" 
                    class="form-control" 
                    id="phone"
                    formControlName="phone">
                    <div *ngIf="f['phone'].invalid && f['phone'].touched" class="text-danger">يجب التحديد</div>
                </div>
                <div class="col-md-6">
                    <label for="productStatus" class="form-label">حاله المنتج</label>
                    <select class="form-select" id="productStatus" formControlName="productStatus">
                        <option value="1">منتج جديد</option>
                        <option value="2">منتج مستخدم</option>
                      </select>
                      <div *ngIf="f['productStatus'].invalid && f['productStatus'].touched" class="text-danger">يجب التحديد</div>  
                </div>
                <div class="col-md-6">
                    <label for="productCategory" class="form-label">التصنيف</label>
                    <select class="form-select" id="productCategory" formControlName="productCategory">
                        <option value="1">منتج جديد</option>
                        <option value="2">منتج مستخدم</option>
                      </select>
                      <div *ngIf="f['productCategory'].invalid && f['productCategory'].touched" class="text-danger">يجب التحديد</div>  
                </div>
                <div class="col-md-6">
                    <label for="productMark" class="form-label">العلامه التجاريه</label>
                    <select class="form-select" id="productMark" formControlName="productMark">
                        <option value="1">منتج جديد</option>
                        <option value="2">منتج مستخدم</option>
                      </select>
                      <div *ngIf="f['productMark'].invalid && f['productMark'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="productName" class="form-label">اسم المنتج</label>
                    <input type="text" class="form-control" id="productName" 
                    placeholder=" سياره بي ام"
                    formControlName="productName">
                    <div *ngIf="f['productName'].invalid && f['productName'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="productPrice" class="form-label">السعر</label>
                    <input type="text" class="form-control" id="productPrice" 
                    placeholder="4000"
                    formControlName="productPrice">
                    <div *ngIf="f['productPrice'].invalid && f['productPrice'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="productSeller" class="form-label">عن البائع</label>
                    <textarea type="text" class="form-control" id="productSeller" 
                    placeholder="عن البائع عن البائع" formControlName="productSeller"></textarea>
                    <div *ngIf="f['productSeller'].invalid && f['productSeller'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="sellerinfo" class="form-label">ملاحظات التواصل</label>
                    <textarea type="text" class="form-control" id="sellerinfo" 
                    placeholder="معلومات لاتصال" formControlName="sellerinfo"></textarea>
                    <div *ngIf="f['sellerinfo'].invalid && f['sellerinfo'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="productDesc" class="form-label">وصف المنتج</label>
                    <textarea type="text" class="form-control" id="productDesc" 
                    placeholder="سياره بي ام سياره بي ام" formControlName="productDesc"></textarea>
                    <div *ngIf="f['productDesc'].invalid && f['productDesc'].touched" class="text-danger">يجب التحديد</div>  

                </div>
                <div class="col-md-6">
                    <label for="productMaterial" class="form-label">خامات المنتج</label>
                    <textarea type="text" class="form-control" id="productMaterial" 
                    placeholder="سياره بي ام سياره بي ام" formControlName="productMaterial"></textarea>
                    <div *ngIf="f['productMaterial'].invalid && f['productMaterial'].touched" class="text-danger">يجب التحديد</div>  

                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center pt-5 pb-3">
                <!-- <button class="btn btn-next btn-prim"  *ngIf="step !== 2"> 1التالى</button> -->
                <button class="btn btn-next btn-prim" type="submit">التالى</button>
            </div>
        </div>
    </form>
</div>