.mat-typography .header h5.title{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);
}
.rest_icon {
    right: unset;
    left: 12%;
}
.btn_bg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_blue{
    background-color: var(--primary-color);
}
.bg_lightBlue{
    background: linear-gradient(0deg, #072585 0%, #1591D9 100%);
}
@media screen and (max-width: 391px) {
    label.file-upload {
        width: 120px;
        height: 120px;
    }
}