<div class="main mt-5 mb-5">
    <div class="title">
        <p class="main-title">الأشتراكات</p>
        <div class="star">
            <img src="../../assets/images/star.svg" alt="star">
            <p>احصل على الاشتراك </p>
            <span>اضف مزيد من الاعلانات</span>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <form [formGroup] ="subscribtionForm"  (ngSubmit)="submit()">
            <mat-radio-group aria-label="Select an option" formControlName="subscribe">
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 justify-content-center">
                    <div class="col" *ngFor="let subscription of subscriptions">
                    <mat-radio-button value="{{subscription.id}}" [checked]="subscription.slug == 'gold' ? 'true':'false'">
                        <div class="card h-100">
                            <p class="name">{{subscription.title}}</p>
                            <p class="price py-4"><span>{{subscription.fees}}</span>  {{subscription.currency_name}}</p>
                            <p class="desc">{{subscription.number_of_ads}} اعلانات شهريه</p>
                        </div>
                    </mat-radio-button>
                </div>
            </div> 
            </mat-radio-group>
            <div class="d-flex justify-content-center align-items-center py-5">
                <button class="btn btn-prim">التالى</button>
            </div>
        </form> 
    </div>
</div>
<!-- payment modal -->
<div class="modal fade"
id="payment"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <form [formGroup]="payForm" (ngSubmit)="submitPay()">
            <div class="modal-body">
                <mat-radio-group aria-label="Select an option" formControlName="chosePay">
                        <div class="payStyle">
                            <mat-radio-button value="1" [checked]="true">
                                   <img src="../../assets/images/stc.svg" alt="stc" width="80%">
                            </mat-radio-button>
                        </div>
                        <div class="payStyle">
                            <mat-radio-button value="2">
                                    <img src="../../assets/images/visa.svg" alt="visa" width="80%">
                            </mat-radio-button>
                        </div>
                        <div class="payStyle">
                            <mat-radio-button value="3">
                                    <img src="../../assets/images/applePAy.svg" alt="applePAy" width="80%">
                            </mat-radio-button>
                        </div>
                </mat-radio-group>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-prim">التالى</button>
            </div>
        </form>
      </div>
  </div>
</div>
<!-- review modal -->

<div id="review" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
                    <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
			</div>
			<div class="modal-body text-center">
				<p> في خلال ساعات سيتم مراجعه طلبك وسنقوم بالرد عليك</p>
			</div>
		</div>
	</div>
</div>     
