<div class="main mt-5 mb-5">
    <div class="title">
        <p class="main-title">الأشتراكات</p>
        <div class="star">
            <img src="../../assets/images/Star_icon.svg" alt="star">
            <p>احصل على الاشتراك </p>
            <span>اضف مزيد من الاعلانات</span>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <form [formGroup] ="subscribtionForm" class="d-flex justify-content-center">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-5 justify-content-center">
                    <div class="col" *ngFor="let subscription of subscriptions">
                        <div class="card"[ngClass]="{'gold': subscription.slug == 'gold'}">
                            <p class="name">{{subscription.title}}</p>
                            <div class="card-header">
                                <p class="price mt-5"><span>{{subscription.fees}}</span>  {{subscription.currency_name}}</p>
                            </div>
                            <div class="card-body pt-5">
                                <p class="desc px-1 pt-5 text-center">{{subscription.desc}}</p>
                                <div class="conditions px-3 d-flex flex-column align-items-start align-self-start">
                                    <div class="d-flex align-items-center">
                                        <img class="ps-1" src="../../assets/images/subscribtion_icon.svg" alt="subscribtion_icon" width="26px">
                                        <p class="desc">{{subscription.slug == 'gold' ? 'امكانيه اضافه 5 اعلانات فى اليوم' : 'امكانيه اضافه 4 اعلانات فى اليوم'}}</p>
                                    </div>
                                    <div class="d-flex align-items-center py-2" >
                                        <img class="ps-1" src="../../assets/images/subscribtion_icon.svg" alt="subscribtion_icon" width="26px">
                                        <p class="desc" >مده الاشتراك 3 شهور</p>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="subscription.slug == 'gold'">
                                        <img class="ps-1" src="../../assets/images/subscribtion_icon.svg" alt="subscribtion_icon" width="26px">
                                        <p class="desc" >بوزر خاص للعميل بامكانيه اضافه الاعلان دون اصدار موافقه من التطبيق</p>                                    </div>
                                    </div>

                                    <a class="btn btn_choose" (click)="choose(subscription.id)">اختر</a>
                            </div>
                        </div>
                </div>
            </div> 
        </form> 
    </div>
</div>
<!-- payment modal -->
<div class="modal fade"
id="payment"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-start">
            <div class="col-5">
                <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                  <img src="../../assets/images/close.svg" alt="close">
                </button>
            </div>
        </div>
        <form [formGroup]="payForm" (ngSubmit)="submitPay()">
            <div class="modal-body">
                <mat-radio-group aria-label="Select an option" formControlName="chosePay">
                        <div class="payStyle">
                            <mat-radio-button value="1" [checked]="true">
                                   <img src="../../assets/images/stc.svg" alt="stc" width="80%">
                            </mat-radio-button>
                        </div>
                        <div class="payStyle">
                            <mat-radio-button value="2">
                                    <img src="../../assets/images/visa.svg" alt="visa" width="80%">
                            </mat-radio-button>
                        </div>
                        <div class="payStyle">
                            <mat-radio-button value="3">
                                    <img src="../../assets/images/applePAy.svg" alt="applePAy" width="80%">
                            </mat-radio-button>
                        </div>
                </mat-radio-group>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-prim">التالى</button>
            </div>
        </form>
      </div>
  </div>
</div>
<!-- review modal -->

<div id="review" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
            <div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
				<p class="py-3"> في خلال ساعات سيتم مراجعه طلبك وسنقوم بالرد عليك</p>
			</div>
		</div>
	</div>
</div>     
<!-- modal faild -->
<div id="faildSubscribtion" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{errMsg}}</p>
			</div>
		</div>
	</div>
</div>
