.head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p.title{
    padding: 2.5rem 1.3rem 1.3rem;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.7rem;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.btn-prim{
    padding: .9rem 3.2rem;
    border-radius: 10px;
}
.btn-prim:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
p.or{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1rem;
}
.swipper{
    background-color: var(--org-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-sec{
    padding: .9rem 2.2rem;
    border-color: var(--white) !important;
    color: var(--white) !important;
    border-radius: 10px;
}
p.ask{
    color: var(--bg-color-2);
    font-size: 1.5rem;
    font-weight: 500;
}
p.pref{
    color: var(--bg-color-2);
    font-size: 1rem;
    font-weight: 400;
}
.container-regiser{
    height: 1050px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    background-image: url('../../../assets/images/login_bg_new.svg');
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.overlay .sign-in,
.overlay .sign-up{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
    /* background-color: var(--org-color);
    border-radius: 15px 0px 0px 15px; */
}
.form {
    width: 60%;
    height: 800px;
    position: absolute;
    left: 40%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    background-color: var(--bg-color);
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
}
.form.active{
    left: 0%;
    border-radius: 15px 0px 0px 15px;
}
.form .sign-up-form,
.form .sign-in-form{
    position: absolute;
}
.form .sign-in-form{
    left: 103%;
    transition-delay: 0s;
  }
  .form.active .sign-in-form{
    left: auto;
  }
  .form .sign-up-form{
    transition-delay: 0s;
  }
 .form.active .sign-up-form {
    left: -800%;
  }
  .form p.agree{
    color: var( --light-grey);
    text-align: center;
    font-weight: 600;
  }
  .modal-header{
    border-bottom: none;
    padding: 0 0 1rem 0;
    flex-direction: column;
  }
  .modal-header h5{
    color: var(--primary-color);
    font-family: var(--font-family);
    margin: auto;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .modal-header .btn{
    padding: 0;
  }
  .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 1rem;
  }
  .modal-body p.send{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1rem;
  }
  .modal-body p.number{
    color: var(--light-blue);
    font-size: .8rem;
    font-weight: 100;
  }
  .modal-body a.resend.pe-none{
    color: var(--sec-text);
  }
  .modal-body a.resend{
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 1rem;
  }
  .modal-body  span{
    text-decoration: none;
    color: var(--light-blue);
  }
#success .modal-body p{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
}
#success .modal-header{
    border: none;
}
.phone{
  width: 80% ;
}
.phone-prefix{
  width: 23% ;
}
.phone span{
  display: none;
}
.mac{
  position: relative;
  top: -7px;
}
.suadi_flag{
  align-self: flex-start;
}
.link{
  color: #3A58BA;
  text-decoration: underline;
}
/* at max width : 991 */
@media screen and (max-width: 991.5px) {
  .logo{
    display: none;
  }
    .container-regiser{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container-regiser .overlay{
      top: 0;
      height: 100%;
    }
    .form{
      width: 100%;
      height: 750px;
      top: 0;
      left: 0; 
      border-radius: 15px 15px 0px 0px;
    }
    .overlay .sign-up,
    .overlay .sign-in{
      position: absolute;
      width: 100%;
      height: 300px;
      bottom: 0;
    }
    .sign-in{
      top: 0;
    }
    .form.active{
      top: 300px;
      border-radius: 0px 0px 15px 15px ;

    }
  }
@media screen and (max-width:575px) {
  .overlay .sign-up,
  .overlay .sign-in{
      padding: 0 20px;
  }
  .suadi_flag{
    display: none;
  }
  .phone{
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .phone{
    width: 100% ;
  }
  .phone span{
    display: block !important;
  }
  .phone-prefix{
    display: none;
  }
}
/* *{
  border: 1px solid red;
} */