<div class="main mt-5 mb-5">
    <div class="title">
        <h1 *ngIf="pageSlug == 'terms_conditions'">الشروط والاحكام</h1>
        <h1 *ngIf="pageSlug == 'privacy_policy'">سياسة الخصوصية</h1>
    </div>
    <div class="content pt-5 pb-5">
        <ul *ngIf="pageSlug == 'terms_conditions'">
            <p>المادة الأولى :</p>
            <span>تعريف :</span>
            <li>
                 منصة قولدن ديل : هي منصة إلكترونية تتيح للمستخدمين فتح حساب لنشر المحتوى الخاص به وفق الأنظمة والتشريعات ، مقرها الرئيسي الرياض ويشار إليها بهذه الاتفاقية بأسم مؤسسة شبكات التميز لتقنية المعلومات (الجهة المالكة لمنصة قولدن ديل Goldendeal ) أو نحن أو لنا أو الموقع أو المنصة أو الطرف الأول.
            </li>
            <li>
                 المستخدم : هو منشئ الحساب على منصة قولدن ديل لغرض التواصل أو التصفح أو نشر المحتوى أو لإنشاء محل إلكتروني كموفر خدمة لممارسة التجارة الإلكترونية على منصة قولدن ديل ، ويشار إليه في هذه الاتفاقية بالعضو أو الممارس أو موفر الخدمة أوالطرف الثاني.
            </li>
            <li>
                المحل الإلكتروني: هو الحساب الإلكتروني الذي يتيح للمستخدم عرض منتج، أو بيعه، أو تقديم خدمة، أو الإعلان عنها أو تبادل البيانات الخاصة بها.
            </li>
            <span> المادة الثاني :</span>
            <li>
                تقدم منصة قولدن ديل خدمة تمكين المستخدم من عرض سلعته ونشر المحتوى وفق سياسة الاستخدام المتفق عليها ولا تقدم أي ضمانات ولا تتحمل أي مسؤولية في حالة عدم التزام المستخدم أو المستهلك بها.
            </li>
            <li>
               تخلي  منصة قولدن ديل مسؤوليتها من أي مخاطرة أو أضرار أو تبعات أو خسائر تقع على البائع أو المشتري أو أي طرف آخر، وعلى من لحق به الضرر زيارة رابط اتصل بنا وشرح الضرر الواقع عليه وسنقوم باتخاذ الإجراء حسب نوع الواقعة دون أدنى مسؤولية
            </li>
            <li>
                بإستخدامك لمنصة قولدن ديل  يعني أنك تقر بتحمل كامل المسؤولية في التأكد من اتباع جميع القوانين، واللوائح، والأنظمة ذات الصلة عند استخدام المنصة. كما تتحمل مسؤولية إدارة جميع عمليات الشراء وعمليات التسليم في حال كان الحساب محل إلكتروني، وحل المشكلات والنزاعات الناشئة عن محتوى الإعلان مسؤولية كاملة، كما تلتزم بضوابط وشروط المحتوى الموضحة من قبل منصة قولدن ديل وتتحمل وحدك تبعات وأضرار المحتوى وتخلي مسؤولية منصة قولدن ديل من أي مطالبات ناتجة أو تابعة لـ تعاملاتك أو مترتبة عليها
            </li>
            <li>
                بإستخدامك لمنصة قولدن ديل يعني أنك تخول للمنصة حفظ البيانات و المعلومات الشخصية وغير الشخصية التي قمت بإدخالها بخوادم المؤسسة ولنا حق الإطلاع عليها ومراجعتها
            </li>
            <li>
                بإستخدامك لمنصة قولدن ديل فإنك تقر بأحقية المنصة في مراقبة الرسائل الخاصة عند الحاجة لضمان خلوها من مخالفات إتفاقية الإستخدام و لنا الحق في حذف الإعلان والتصرف بالصور المرفقة عند الحاجة لذلك
            </li>
            <li>
                تعتبر تعاميم وقرارات وتوجيهات إدارة ومشرفي الموقع ملزمة للطرف الثاني بعد إيصالها له عبر الرسائل الخاصة بالموقع أو الجوال أو البريد الإلكتروني أو عبر نظام الإشعارات ، وعليه الإلتزام بها والعمل بموجبها
            </li>
            <li>
                بإستخدامك للمنصة فإنك تقر بأحقية منصة قولدن ديل في حال مخالفتك للأنظمة والقوانين المتبعة في المملكة أو لسياسات وقوانين منصة قولدن ديل فإن لمؤسسة  مؤسسه شبكات المميز لتقنيه المعلومات الحق بالرجوع عليك بكافة الأضرار والخسائر وتحميلك أتعاب المحاماة في جميع المسائل و القضايا المتعلقة بمخالفتك وتلتزم بالتعويض عنها.
            </li>
             <span>المادة الثالثة :</span>
             <li>
                تتعهد بعدم الإعلان عن أي سلعة ممنوعة بالمنصة.
             </li>
             <li>
                تتعهد بعدم إرسال أي رسائل ممنوعة بالمنصة.
             </li>
             <li>
                تتعهد بتحديد سعر بيع السلعة المعلن عنها.
             </li>
             <li>
                تتعهد بمتابعة إعلانك والرد على استفسارات العملاء  من خلال الرسائل الخاصة.
             </li>
             <li>
                تتعهد بالالتزام بسياسة الإعلانات المكررة.
             </li>
             <li>
                يلزم أن تكون المادة الإعلانية المعلن عنها مركبة او لوحة مركبة .
             </li>
             <li>
                يجب أن يكون الإعلان كامل التفاصيل وفي القسم الصحيح.
             </li>
             <li>
                يحق للمنصة حذف أي محتوى أو إعلان من دون ذكر سبب الحذف.
             </li>
             <li>
               يُمنع نسخ أي إعلان من المنصة.
            </li>
             <li>
                يجب الحصول على التراخيص اللازمة للإعلان، إذا كنت تببيع سلعة .
             </li>
             <li>
                يلتزم المعلن بأن تكون الصور المضافة في الإعلان لنفس السلعة المعلن عنها.
             </li>
             <li>
                صور المحتوى يجب أن تكون لائقة أخلاقيا وذات جودة عالية ولا تخالف نظام وزارة العمل أو حقوق الإنسان أو أي جهة حكومية أو خاصة.
             </li>
             <li>
                يلتزم المعلن بعدم إضافة أكثر من 3 إعلانات في المنصة لنفس السلعة.
             </li>
            <li>
                يجب الإلتزام بعدم الإعلان عن السلعه التي تندرج في قائمة السلع . كما يجب أيضا الالتزام بالرسائل الممنوعة.
            </li>
            <li>
                تتعهد بعدم الإعلان لشخص لا تعرفه أو التسجيل لشخص لا تعرفه.
            </li>
            <li>
               يخضع تحديث وتعديل الإعلان لجميع الشروط والضوابط في هذه الاتفاقية ويعتبر المستخدم مسؤول عن أي مخالفات وقعت أثناء إنشاء الإعلان أو بعد التحديث أو التعديل.
            </li>
            <li>
               الإنشاء والتحديث والتعديل مسؤولية المستخدم وحده.
            </li>
            <li>
                يلتزم المعلن بتحديث الإعلان وفي حال عدم التحديث سيتم حذف الإعلان بشكل تلقائي.
            </li>
            <span>المادة الرابعة :</span>
            <p>
                القائمة التالية تحتوي على أغلب أساليب وطرق الإعلانات الممنوعه في المنصة:
            </p>
            <li>
                جميع الإعلانات التي لاتتعلق بالبيع والشرا.
            </li>
            <li>
                إضافة إعلانات عن إقتراحات لتطوير المنصة . للاقتراحات أو الشكاوى يتم تعبئة النموذج في خانة (اتصل بنا).
            </li>
            <li>
                الإعلان غير مكتمل التفاصيل.
            </li>
            <li>
                إعلان ضعيف الجودة‫.‬
            </li>
            <li>
               ضعف تواصل المعلن مع الاعضاء المهتمين بـ السلعة المعروضة‫.‬ (مثال: عن بيع سياره ثم لايقوم بالرد على الاتصالات أو الرسائل الخاصة‫).‬
            </li>
            <li>
               الإعلان في قسم خطأ‫. (مثل: الإعلان عن سياره في المعروضات‫  اللوحات السيارات
            </li>
            <li>
                إضافة إعلان ولديك عضوية أخرى محظورة. حيث يجب أولاً مناقشة الحظر معنا قبل إضافة أي إعلان جديد.
            </li>
            <li>
               إضافة صورة ليست لنفس السلعة إذا كانت السلعة سيارة حتى لو كان لغرض التوضيح.
            </li>
            <li>
               إضافة صور لسلعة أخرى غير المعروضة. (مثل: الإعلان عن بيع سيارة مستعمل ثم إدراج صورة لسيارة مستعمل اخر من نفس النوع).
            </li>
            <li>
                أي إعلان يحتوي على إشارة لأمر عنصري بأي شكل كان.
            </li>
            <li>
                أي إعلان يحتوي على معلومات خطأ سواء كان الخطأ مقصود أو غير مقصود‫.‬ (مثل: الإعلان عن سياره على أنها لم تتعرض لحادث ثم بعد ذلك يثبت أن السياره قد تعرضت لحادث‫).
            </li>
            <span>المادة الخامسة :</span>
            <p>
                يلزمك لحماية تعاملاتك مع البائع أو المشتري اتباع كل أو إحدى الخطوات التالية:
            </p>
            <li>
               أن تتم المبايعة وجهاً لوجه في مكان عام و بطرق نظامية موثوقة.
            </li>
            <li>
                التأكد من هوية البائع أو المشتري قبل أي إجراء.
            </li>
            <li>
               يجب عليك فحص السلعة للتأكد من خلوها من أي عيوب.
            </li>
            <li>
               إستخدام وسائل الدفع الآمنة الموضحة في إرشادات التعامل على المنصة.
            </li>
            <p>
                إن عدم التزامك بالتوجيهات أعلاه قد يعرضك للاحتيال وتقر بموجب هذه الاتفاقية بتحملك المسؤولية وأن منصة و تطبيق قولدن ديل المملوكة لمؤسسة شبكات التميز لتقنية المعلومات ليست طرف في التعامل ولا تتحمل أي مسؤولية و تلتزم برفع بلاغ أو شكوى في منصة قولدن ديل  للتعامل مع الطرف المتحايل. وتلتزم برفع شكوى للجهة المختصة وفق الطرق النظامية في حال وقوع أي ضرر. وتتعهد بعدم نشر هذه الوقائع والأحداث عبر المنصات الإلكترونية أو مواقع التواصل الإجتماعي وغيرها.
            </p>
            <span>
                تلتزم مؤسسة شبكات التميز لتقنية المعلومات المالكة لتطبيق قولدن ديل باتفاقية الاستخدام و خصوصية الاستخدام ولسنا طرفًا في أي خلاف أو قضايا تنشأ بين المستخدمين لمخالفة أحدهما أو كلاهما إتفاقية الاستخدام إلا أننا نسعى لتعزيز الجانب الأمني في المنصة وذلك للحد والقضاء على التعديات التي يقوم بها بعض المستخدمين على المنصة بشكل يخالف سياسة و شروط الاستخدام وذلك تحقيقا لنزاهة البيع والشراء ومحاربة النصب والاحتيال والغش تطبيقاً للقوانين والتشريعات والتنظيمات المتبعة في المملكة العربية السعودية وبذلك فإنه يحق لمؤسسة شبكات التميز لتقنية المعلومات اتخاذ الإجراء اللازم تجاه أي فرد أو جهة تثبت مخالفتة، علما أن الإجراء قد يصل إلى الملاحقة القانونية والقضائية أمام الجهة ذات العلاقة. ونورد هنا المخالفات الشائعة والإجراء اللازم تجاهها:
            </span>
            <li>
                تعرض العميل لعملية نصب واحتيال من قبل طرف آخر: يجب على العميل إبلاغ الجهات الأمنية المختصة. و تعبئة نموذج الشكوى الخاص بذلك على منصة قولدن ديل في صفحة (اتصل بنا). وستقوم إدارة المنصة بمراجعة الشكوى والتحري حول العميل المدعى عليه ليتم اتخاذ الإجراء اللازم في حقه. ولن تكون منصة حراج طرف في مثل هذه القضايا ولا نتحمل أي مسؤولية ولكننا سنقدم ما لدينا للجهات المختصة في حال تم طلب ذلك بصفة رسمية.
            </li>
            <li>
               التعدي على سياسة أو سيادة الدولة : سيتم حذف الإعلان وإيقاف عضوية المعلن وإبلاغ الجهات المختصة بذلك..
            </li>
            <li>
               في حال قام فرد أو مؤسسة أو شركة بطرق غير مشروعة ( كاختراق أو استخدام وسائل تجميع البيانات غير المشروعة أو أي وسيلة كانت ) بهدف الوصول إلى محتوى المنصة أو برمجة المنصة أو قواعد البيانات الخاصة بالمنصة أو المعلومات والبيانات التي تخص عملاء قولدن ديل بغية نسخ الإعلانات وإعادة نشرها أو الاستفادة منها بأي شكل من الأشكال. فإن مؤسسة شبكات التميز لتقنية المعلومات سيتوجه للجهات المختصة لمقاضاة الطرف الآخر بدعوى الاختراق الإلكتروني وارتكاب جريمة مخالفة أنظمة الجرائم المعلوماتية.
            </li>
            <li>
               في حال قام فرد أو جهة اعتبارية بنسخ إعلانات من قولدن ديل إلى موقع آخر ستتوجه مؤسسة شبكات التميز لتقنية المعلومات للجهات المختصة لرفع دعوى وملاحقة الطرف الآخر بدعوى التعدي على حقوق المؤسسة .
            </li>
            <li>
                في حال قام الطرف الثاني بالتقييم الكاذب لعضو آخر سيتم إيقاف العضوين ومنعهم من استخدام المنصة في حال اتضح التعاون بينهم. وسيتم اتخاذ الإجراءات اللازمة لأي تبعات حدثت بسبب هذا التقييم
            </li>
        </ul>
        <ul *ngIf="pageSlug == 'privacy_policy'">
            <p>سياسة خصوصية جولدن ديل</p>
            <p>تحكم سياسة الخصوصية هذه الطريقة التي تجمع بها" جولدن ديل "المعلومات التي يجمعها مستخدمو تطبيق" جولدن ديل " وتستخدم وتحتفظ بها وتعلن عنها ، وتنطبق سياسة الخصوصية هذه على التطبيق وعلى جميع المنتجات والخدمات التي تقدمها جولدن ديل.</p>
            <span>
                معلومات الهوية الشخصية:
            </span>
            <li>
                تقوم" جولدن "بجمع المعلومات حول الهوية الشخصية للمستخدمين بطرق مختلفة ، وتشمل ولا تقتصر على أوقات زيارة المستخدم للتطبيق ، والتسجيل في تطبيق "جولدن ديل" لملء الطلب ، واستمارة تحليل الاستبيان ، وغيرها من الأنشطة أو الخدمات أو الميزات أو الموارد التي قد نقدمها على تطبيقنا. قد يطلب من المستخدمين الكشف الكامل عن الاسم وعنوان البريد الإلكتروني ورقم الهاتف وتفاصيل بطاقة الائتمان.
            </li>
            <span>
                معلومات لا تتعلق بالهوية الشخصية:
            </span>
            <li>
                تجمع "جولدن ديل" بعض المعلومات عن المستخدمين أينما تفاعلوا مع التطبيق ، وهذه المعلومات لا تتعلق بالهوية الشخصية بل قد تشمل نوع الهاتف الذكي والمعلومات الفنية حول طرق اتصال المستخدم مع التطبيق ، مثل الشركة المستخدمة لتوفير خدمة الإنترنت وغيرها من المعلومات المماثلة.
            </li>
            <span>
                كيف نستخدم المعلومات التي تم جمعها:
            </span>
            <li>
                تقوم جولدن ديل بجمع واستخدام المعلومات الشخصية للمستخدمين للأغراض التالية:
            </li>
            <span>
                تحسين جودة خدمة العملاء:
            </span>
            <li>
                تساعدنا معلوماتك على الاستجابة بسهولة لطلبات خدمة العملاء واحتياجات الدعم.
            </li>
            <span>
                لتحسين التطبيق.
            </span>
            <li>
                نحن نسعى باستمرار لتحسين العروض المقدمة من خلال التطبيق أو موقعنا وفقا للمعلومات والملاحظات التي نتلقاها منك.
            </li>
            <span>
                إرسال رسائل البريد الإلكتروني بشكل دوري.
            </span>
            <li>
                سيتم استخدام عنوان البريد الإلكتروني المسجل من قبل المستخدمين لمعالجة طلبهم فقط لإرسال المعلومات والتحديثات المتعلقة بطلبهم. يمكن استخدامه أيضا للرد على الاستفسارات أو الطلبات أو الأسئلة الأخرى. إذا قرر المستخدم الانضمام إلى قائمتنا البريدية ، فسوف يتلقى رسائل في بريده الإلكتروني قد تتضمن الأخبار وآخر التحديثات والمعلومات المتعلقة بالتطبيق. وإذا أراد المستخدم في أي وقت إلغاء التسجيل لتلقي أي رسائل مستقبلية ، فإننا نقدم له توجيهات مفصلة حول إلغاء التسجيل في نهاية كل رسالة في بريده الإلكتروني ، أو يمكن للمستخدم التواصل معنا من خلال التطبيق أو موقعنا الإلكتروني.
            </li>
            <span>
                كيف نحمي معلوماتك:
            </span>
            <li>
                نحن نتبع الإجراءات والمعايير الأمنية المناسبة في جمع البيانات وحفظها والتعامل معها ، من أجل حماية تلك البيانات من التعامل غير المصرح به أو التعديل أو الكشف أو إتلاف بياناتك الشخصية واسم المستخدم وكلمة المرور والمعلومات المتعلقة بمعاملاتك وبياناتك المخزنة على تطبيقنا. يتم تبادل البيانات الحساسة والخاصة بين"جولدن ديل " ومستخدميها من خلال قنوات اتصال آمنة ويتم تشفيرها وحمايتها من خلال طرق وأساليب رقمية معتمدة.
            </li>
            <span>
                مشاركة البيانات الشخصية:
            </span>
            <li>
                نحن في "جولدن ديل" لا نبيع أو نتاجر أو نؤجر بيانات الهوية الشخصية للمستخدمين لأطراف أخرى ، وقد نشارك المعلومات الديموغرافية المجمعة التي لا تتعلق بأي معلومات حول الهوية الشخصية للزوار والمستخدمين مع شركائنا والشركات التابعة والمعلنين للأغراض الموضحة أعلاه. يجوز لنا استخدام طرف ثالث يقدم الخدمة لمساعدتنا في إجراء أعمالنا وأيضا في تنفيذ التطبيق أو في إدارة الأنشطة نيابة عنا ، مثل إرسال الرسائل الإخبارية أو الاستطلاعات. قد نشارك بياناتك مع هذا الطرف الثالث في حدود تلك الأغراض المحددة في حال منحتنا الإذن للقيام بذلك.
            </li>
            <span>
                مواقع الطرف الثالث:
            </span>
            <li>
                قد يجد المستخدمون إعلانات أو محتوى آخر على تطبيقنا يرتبط بمواقع وخدمات شركائنا أو موردينا أو المعلنين أو الرعاة أو المرخصين أو كيانات الطرف الثالث الأخرى. تجدر الإشارة إلى أننا لا نتحكم في المحتوى أو الروابط التي تظهر على هذه المواقع ونحن لسنا مسؤولين عن ممارسات المواقع المرتبطة بموقعنا. بالإضافة إلى ذلك ، قد تتغير هذه المواقع أو الخدمات ، بما في ذلك المحتوى والروابط ، باستمرار. سيكون لهذه المواقع والخدمات سياسات الخصوصية وخدمة العملاء الخاصة بها. كما أن التصفح والتفاعل على أي موقع آخر ، بما في ذلك المواقع التي ترتبط بتطبيقنا ، يخضع لشروط وسياسات تلك المواقع.
            </li>
            <span>
                تغييرات سياسة الخصوصية:
            </span>
            <li>
                "جولدن ديل" حرة في العمل على تحديث سياسة الخصوصية هذه في أي وقت. عندما نفعل ذلك ، يجب على المستخدم مراجعة محفوظات التحديث في أسفل هذه الصفحة ، وسنرسل بريدا إلكترونيا. لذلك نشجع مستخدمينا على مراجعة سياسة الخصوصية الخاصة بنا بشكل متكرر لرؤية أي تغييرات حتى يكونوا على دراية بما نقوم به لحماية البيانات الشخصية التي نجمعها. ويقر المستخدم ويوافق على مسؤوليته لمراجعة سياسة الخصوصية هذه بشكل دوري وهو على علم بالتعديلات.
            </li>
            <span>
                الموافقة على شروط الاستخدام:
            </span>
            <li>
                استخدامك لهذا التطبيق يدل على موافقتك على سياسة الخصوصية والضوابط والشروط التي تحكم استخدام هذا التطبيق. إذا كنت لا توافق على هذه السياسة ، يجب عدم استخدام التطبيق لدينا. أنت تقر بأن استمرارك في استخدام التطبيق بعد الإعلان عن التغييرات في هذه السياسة أو الضوابط وشروط استخدام التطبيق سيعتبر موافقتك على هذه التغييرات.
            </li>
            <span>
                اتصل بنا:
            </span>
            <li>
                إذا كان لديك أي أسئلة بخصوص سياسة الخصوصية هذه أو الممارسات في هذا التطبيق أو تعاملاتك مع التطبيق ، يمكنك الاتصال بنا من خلال: info@macber-eg.com
                5/10/2020
            </li>  
        </ul>
    </div>
</div>
<!-- modal faild -->
<div id="faildTerms" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{errMsg}}</p>
			</div>
		</div>
	</div>
</div>