<div class="main mt-5 mb-5">
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="content pt-5 pb-5">
        <ul>
            <!-- <li>
                <p>و هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص ل </p>
                <p>لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر</p>
            </li>
            <li>
                <p>و هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص ل </p>
                <p>لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر</p>
            </li>
            <li>
                <p>و هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص ل </p>
                <p>لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر</p>
            </li>
            <li>
                <p>و هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص ل </p>
                <p>لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر</p>
            </li> -->
        {{desc}}
        </ul>
    </div>
</div>
<!-- modal faild -->
<div id="faildTerms" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			
			<div class="modal-body text-center">
                <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{errMsg}}</p>
			</div>
		</div>
	</div>
</div>