<div class="page-content page-container" id="page-content">
    <div class="row d-flex justify-content-center">
        <div class="card card-bordered">
            <div class="card-header">
                <h4 class="card-title"><strong>الدعم</strong></h4>
            </div>
            <mat-progress-bar mode="indeterminate"  *ngIf="load" id="addprog"></mat-progress-bar>
            <div class="ps-container ps-theme-default ps-active-y mt-2" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                <div class="media media-chat media-chat-reverse">
                  <div class="media-body">
                    <div class="d-flex p-2 flex-row-reverse media-2">
                        <img class="avatar" src="../../../assets/images/suportChat.svg" alt="suportChat">
                        <p>مرحبا هل تحتاج مساعدة؟ <br>اتصل بنا هنا. سوف نجيب علي <br>استفسارك في أقرب وقت ممكن</p>
                    </div>
                  </div>
                </div>
                <div class="media media-chat">
                    <div class="media-body">
                        <div class="d-flex p-2 media-1 m-1" *ngFor="let msg of messages">
                            <img class="avatar" src="{{supportData.image_url}}" alt="...">
                            <p>{{msg.message}}</p>
                        </div>
                        <div class="alert alert-danger" *ngIf="supportErr">{{supportErr}}</div>
                  </div>
                </div>
                <div class="media media-chat media-chat-reverse" *ngIf="supportRes">
                    <div class="media-body">
                      <div class="d-flex p-2 flex-row-reverse media-2">
                          <img class="avatar" src="../../../assets/images/suportChat.svg" alt="suportChat">
                          <p>{{supportRes}}</p>
                      </div>
                    </div>
                  </div>
              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
              </div>
              <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
              </div>
            </div>
            <form [formGroup]="formSupport" (ngSubmit)="sendSupport()">
              <div class="publisher">
                <div class="outer" >
                    <div class="d-flex align-items-center" style="width: 100%;">
                        <img class="avatar avatar-xs" src="../../assets/images/smiliy.svg" alt="smiliy">
                        <textarea class="publisher-input form-control" 
                        type="text" placeholder="اكتب هنا"
                        formControlName='message'></textarea>
                    </div>
                </div>
                    <button class="btn text-info" type="submit">
                      <img src="../../assets/images/send.svg" alt="" style="width: 50px;">
                    </button>
                </div>
            </form> 
        </div>
    </div>
</div>