<section class="testimonial-section pt-5 pb-5">
<!-- <div class="container"> -->
    <div class="row justify-content-center">
        <div class="col-md-9 col-12">
            <div class="section-title  text-center">
                <h2>ما هي آراء عملائنا؟</h2>
            </div>
            <ngb-carousel >
                <ng-template ngbSlide>
                    <div class="testimonial-inner pt-5 px-2">
                        <div class="testimonial-list">
                                    <figure class="image">
                                        <img class="img-fluid rounded-circle" src="../../assets/images/testimonailsimg.svg">
                                    </figure>
                                    <div class="testimonial_content">
                                        <div class="testimonial-rate">
                                        </div>
                                        <div class="testimonial_desc">
                                            <p>لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم، لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم،</p>
                                        </div>
                                        <div class="testimonial_author text-center">
                                            <h3>ندا علي</h3>
                                            <span>منذ 4 أيام</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                </ng-template>
                <ng-template ngbSlide>
                    <div class="testimonial-inner pt-5 px-2">
                        <div class="testimonial-list">
                                    <figure class="image">
                                        <img class="img-fluid rounded-circle" src="../../assets/images/testimonailsimg.svg">
                                    </figure>
                                    <div class="testimonial_content">
                                        <div class="testimonial-rate">
                                        </div>
                                        <div class="testimonial_desc">
                                            <p>لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم، لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم،</p>
                                        </div>
                                        <div class="testimonial_author text-center">
                                            <h3>ندا علي</h3>
                                            <span>منذ 4 أيام</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                </ng-template>
                <ng-template ngbSlide>
                    <div class="testimonial-inner pt-5 px-2">
                        <div class="testimonial-list">
                                    <figure class="image">
                                        <img class="img-fluid rounded-circle" src="../../assets/images/testimonailsimg.svg">
                                    </figure>
                                    <div class="testimonial_content">
                                        <div class="testimonial-rate">
                                        </div>
                                        <div class="testimonial_desc">
                                            <p>لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم، لنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدملنوادر او الكلمات عشوائية الي النص ، اذا كنت تريد ان تستخدم،</p>
                                        </div>
                                        <div class="testimonial_author text-center">
                                            <h3>ندا علي</h3>
                                            <span>منذ 4 أيام</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
<!-- </div> -->
</section>
