<mat-sidenav-container class="mainSideNav">
    <mat-sidenav #sidenav mode='over' [opened]='!sidebarOpen' 
    fixedInViewport="true">
      <app-sidenav (closeSideNav)="close()" [categories]="categories"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (toggleSideBar)= "toggle()" [categories]="categories"></app-header>
      <div class="container-fluid" [ngClass]="{'p-0': private_marking}">
        <router-outlet></router-outlet>
      </div>
    <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>