<mat-dialog-content class="mat-typography p-0 m-0">
    <div class="content p-4 p-sm-3">
        <div class="header d-flex justify-content-between align-items-center mb-4">
            <a mat-dialog-close><img src="../../../assets/images/close.svg" alt="close"></a>
            <h5 class="title text-center mb-0" id="staticBackdropLabel">اختار ملف</h5>
        </div>
        <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="load" id="addprog"></mat-progress-bar>
            <p class="text-danger text-center" *ngIf="error">{{errorMsg}}</p>
            <p class="text-success text-center" *ngIf="resSuc">{{resSuc}}</p>
    
        <div class="body">
                <div class="position-relative d-flex justify-content-center" dir="rtl">
                    <label for="file1" class="file-upload">
                        <input
                            id="file1"
                            type="file"
                            class="form-control"
                            (change)="onFileChange($event)"
                            accept=".pdf,.doc"
                            formControlName="product_image_1">
                            
                    </label>
                </div>
                <div class="my-4" *ngIf="selectedFile">
                    <!-- <ngx-extended-pdf-viewer
                        [src]="selectedFile.url"
                    >
                    </ngx-extended-pdf-viewer> -->
                    <a class="btn_bg bg_blue mt-3" (click)="saveImagStorage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                          <path d="M0 13.0268H22.6047L12.185 2.60462L14.8837 0L29.7674 14.8837L14.8837 29.7674L12.2841 27.1678L22.6047 16.7406H0V13.0268Z" fill="white"/>
                        </svg>
                    </a>
                </div>
        </div>
    </div>
</mat-dialog-content>