<div class="form p-4">
    <form  [formGroup]="payForm" (ngSubmit)="submitPay()">
      <div class="col-12">
        <p class="sec-title">معلومات الدفع</p>
          <div class="col">
            <mat-form-field  appearance="fill">
              <mat-label>الاسم</mat-label>
              <input type="text" matInput value="مؤسسه شبكات المميز لتقنيه المعلومات" readonly/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field  appearance="fill">
              <mat-label>اسم البنك</mat-label>
              <input type="text" matInput value="بنك الرياض" readonly/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" >
              <mat-label>رقم الحساب الجارى</mat-label>
              <input matInput value="2140993259940" readonly/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill" >
              <mat-label>رقم الحساب الموحد / اللأيبان</mat-label>
              <input matInput value="SA5520000002140993259940" readonly/>
            </mat-form-field>
          </div>
      </div>
    </form>
</div>
