
<div class="d-flex justify-content-end align-items-center pt-5" >
    <div class="d-flex justify-content-center align-items-center col-xl-9 col-lg-8 col-12">
        <a  href="https://api.whatsapp.com/send?phone=966570000675&text=https://gooldendeal.com/" 
            target="_blank" class="btn btn-prim btn-whats">
            <img src="../../../assets/images/support_whats_icon.svg" alt="support_whats_icon">
            <span class="px-2">واتساب</span> 
            </a>
        <a href="https://twitter.com/goldendeal11" target="_blank"
            class="btn btn-prim btn-tweet mx-4">
            <img src="../../../assets/images/support_twitter_icon.svg" alt="support_twitter_icon">
            <span class="px-3">تويتر</span> 
        </a>
        <a href="" class="btn btn-prim btn-google">
            <img src="../../../assets/images/support_goolgle_icon.svg" alt="support_goolgle_icon">
            <span class="px-3">ايميل</span> 
        </a>
    </div>
  </div>
<div class="chat-row row g-4 justify-content-center py-5">
        <div class="col-xl-3 col-lg-4 col-12 conversation_list" #sideNav>
            <div class="side-chat">
                <div class="card h-100">
                    <div class="card-header justify-content-between">
                        <p class="title text-center">المحادثات</p>
                        <button mat-icon-button class="toggler"
                            *ngIf="toggle" (click)="toggleSideMenu()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <mat-progress-bar mode="indeterminate"  *ngIf="loader" id="addprog"></mat-progress-bar>
                    <div class="card-body ps-container mt-2 ps-theme-default ps-active-y" 
                     style="overflow-y: scroll !important;height:505px !important;">
                        <ul ngbNav #nav="ngbNav"  #chatWindow
                            class="nav-pills p-0" orientation="vertical">
                            <li ngbNavItem *ngFor="let user of msgUsersList">
                              <a ngbNavLink (click)="getChat(user.sender === userId ? user.receiver : user.sender)" 
                                [ngClass]="{'new_msg': user.receiver == userId && user.seen_at == 0}">
                                <div class="column">
                                    <div class="chats">
                                        <div class="avatar">
                                            <img src="{{user.sender === userId ? avatar_base_url+user.receiver_avatar : avatar_base_url+user.sender_avatar}}" alt="placeholderimg">
                                        </div>
                                        <div class="chat">
                                            <p class="chat-name">{{user.sender === userId ? user.receiver_name : user.sender_name}}</p>
                                            <p class="chat-desc">{{user.message}}</p>
                                        </div>
                                        <div *ngIf="user.receiver == userId && user.seen_at == 0">
                                            <span matBadge="1" matBadgeSize="small"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                              <ng-template ngbNavContent>
                                <div class="page-content page-container" id="page-content">
                                        <div class="card">
                                            <button mat-icon-button class="toggler"
                                                *ngIf="toggle" 
                                                (click)="toggleSideMenu()">
                                                <mat-icon>
                                                   menu
                                                </mat-icon>
                                            </button>
                                            <div class="card-header justify-content-center">
                                                <h4 class="card-title"><strong>{{user.sender === userId ? user.receiver_name : user.sender_name}}</strong></h4>
                                            </div>
                                            <mat-progress-bar mode="indeterminate"  *ngIf="load" id="addprog"></mat-progress-bar>
                                            <div class="ps-container ps-theme-default ps-active-y mt-2" id="chat-content">
                                                <div class="media media-chat" 
                                                [ngClass]="{'media-chat-reverse' : msg.sender_id !== userId}"
                                                    *ngFor="let msg of usersMsg">
                                                    <div class="p-2 m-1 media-1 media-2">
                                                        <img class="avatar" src="{{avatar_base_url+msg.sender_avatar}}" alt="user_avatar" *ngIf="msg.sender_avatar !== ''">
                                                        <p class="msg-txt">{{msg.message}}</p>
                                                    </div>
                                                </div>
                                                <p class="text-danger text-center" *ngIf="errorTxt">{{errorTxt}}</p>
                                              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                            </div>
                                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="publisher">
                                              <div class="outer" #textArea>
                                                  <div class="d-flex align-items-center" style="width: 100%;">
                                                      <textarea class="publisher-input form-control" 
                                                          type="text" 
                                                          placeholder="اكتب رسالتك هنا"
                                                          [(ngModel)]="messageTxt"
                                                          [ngModelOptions]="{standalone: true}"
                                                          (keyup)="$event.keyCode === 13"></textarea>
                                                  </div>
                                              </div>
                                                  <button class="btn text-info" (click)="sendMsg()">
                                                      <img src="../../assets/images/send.svg" alt="" style="width: 50px;">
                                                  </button>
                                            </div>
                                        </form>
                                        </div>
                                </div>
                              </ng-template>
                            </li>
                            <mat-divider class="my-3"></mat-divider>
                            <p class="text-center text-danger" *ngIf="errorlist">{{errorlist}}</p>
                            <li ngbNavItem="support">
                              <a ngbNavLink >
                                <div class="column">
                                    <div class="chats">
                                        <div class="avatar">
                                            <img src="../../assets/images/support_chat_icon.svg" alt="avatar-img">
                                        </div>
                                        <div class="chat ">
                                            <p class="chat-name">الدعم</p>
                                        </div>
                                    </div>
                                </div>
                              </a>
                              <ng-template ngbNavContent>
                                <div class="page-content page-container" id="page-content">
                                    <div class="card">
                                        <button mat-icon-button class="toggler"
                                            *ngIf="toggle" 
                                            (click)="toggleSideMenu()">
                                            <mat-icon>
                                               menu
                                            </mat-icon>
                                        </button>
                                        <div class="card-header">
                                            <p class="card-title"><strong>الدعم</strong></p>
                                        </div>
                                        <mat-progress-bar mode="indeterminate"  *ngIf="load" id="addprog"></mat-progress-bar>
                                        <div class="ps-container ps-theme-default ps-active-y mt-2" id="chat-content">
                                            <div class="media media-chat media-chat-reverse">
                                                <div class="p-2 media-1 media-2">
                                                    <img class="avatar" src="../../../assets/images/support_chat_icon.svg" alt="suportChat">
                                                    <p class="msg-txt">مرحبا هل تحتاج مساعدة؟ <br>اتصل بنا هنا. سوف نجيب علي <br>استفسارك في أقرب وقت ممكن</p>
                                                </div>
                                            </div>
                                            <div class="media media-chat">
                                                    <div class="p-2 media-1 m-1" *ngFor="let msg of messages">
                                                          <img class="avatar" src="{{supportData.image_url}}" alt="...">
                                                          <p class="msg-txt">{{msg.message}}</p>
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="supportErr">{{supportErr}}</div>
                                            </div>
                                            <div class="media media-chat media-chat-reverse" *ngIf="supportRes">
                                                  <div class="p-2 flex-row-reverse media-1 media-2">
                                                      <img class="avatar" src="../../../assets/images/support_chat_icon.svg" alt="suportChat">
                                                      <p class="msg-txt">{{supportRes}}</p>
                                                </div>
                                              </div>
                                          <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                          </div>
                                          <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                                          </div>
                                        </div>
                                        <form [formGroup]="formSupport" (ngSubmit)="sendSupport()" (keyup)="$event.keyCode === 13">
                                          <div class="publisher">
                                            <div class="outer" >
                                                <div class="d-flex align-items-center" style="width: 100%;">
                                                    <textarea class="publisher-input form-control" 
                                                    type="text" 
                                                    placeholder="اكتب رسالتك هنا"
                                                    formControlName='message'></textarea>
                                                </div>
                                            </div>
                                                <button class="btn text-info" type="submit" >
                                                  <img src="../../assets/images/send.svg" alt="" style="width: 50px;">
                                                </button>
                                            </div>
                                        </form> 
                                    </div>
                            </div>
                              </ng-template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-12" [ngbNavOutlet]="nav"></div>
    </div>
<div class="backDrop" #backDrop></div>