    <div class="chat-row row g-4 justify-content-center pt-5 pb-5">
        <div class="col-xl-3 col-lg-4 col-12">
            <div class="side-chat">
                <div class="card">
                    <div class="card-header">
                        <p class="title text-center">المحادثات</p>
                    </div>
                    <div class="card-body">
                        <div class="column">
                            <div class="chats d-flex justify-content-between">
                                <div class="avatar avatar-online">
                                    <img src="../../../assets/images/caradd.svg" alt="avatar-img">
                                </div>
                                <div class="chat">
                                    <p class="chat-name">مريم على</p>
                                    <p class="chat-desc">سياره جديده-سياره جديده</p>
                                </div>
                                <small class="time">منذ 4 ابام</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-12">
            <div class="chat-content">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <p class="user-name"> المدير</p>
                        <button  type="button" >
                            <span></span>
                            <span></span>
                            <span></span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- <div class="layout overflow-hidden">
    <aside class="sidebar">
        <div class="tab-content-h-100" role="tablist"></div>
    </aside>
</div> -->