p.sorts{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.fixed-top{    
    background-color: var(--primary-color);
    padding: 1rem;
}
.nav-tabs .nav-link {
    border: none !important;
}
.nav-tabs {
    padding: 0;
    border-bottom: none;
    align-items: center;
}
.nav-item{
    padding: 0rem 1.5rem;
    cursor: pointer;
}

.nav-link{
    padding: 0rem;
}

.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active{
    background: none;
    border: var(--white);
    color: var(--primary-color);
    font-weight: 600;
}
.nav-tabs a{
    color: var(--sec-text);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-tabs a span{
    background-color: var(--gray-color);
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-tabs .nav-link.active span{
    background-color: var(--primary-color);
}
.nav-tabs .nav-link.active span.all svg path{
    fill: var(--white);
}
.nav-tabs .nav-link.active span svg path#Path_24474{
    stroke: var(--white);   
}
@media screen and (max-width: 575px) {
    .nav-item{
        padding: 0.5rem .5rem;
    }
    .nav-item:nth-child(1){
        padding: 0.5rem 0rem 0.5rem 1rem;
    }
    .nav-tabs a{
        font-size: 1.1rem;
    }
}
.brand_all a,
swiper .brand a {
    color: var( --bg-color);
    font-size: 1.2rem;
    font-weight: 500;
    height: 70px;
    width: 70px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper .brand a {
    background-color: var(--gray-color);
}
swiper .sub_brand{
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    color: var( --primary-color);
    padding: .1rem;
    border-radius: 8px;
}
.loader {
       display: flex;
       justify-content: center;
}


.modal-header {
    justify-content: center;
    /* border: none; */
}
.modal-header h5{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-footer{
    border: none;
    justify-content: center;
}
.modal-footer .btn-save{
    background-color: var(--primary-color);
    color: var(--white);
    padding: .5rem 4rem;
}
.none{
    font-weight: 500;
    color: var( --sec-text);
    font-size: 1.3rem;
    text-align: center;
}
#filterModal .form-select{
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 3.1739px;
    /* border: none; */
    background-color: var(--bg-color);
}
.btn_find{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 8px;
}
.btn_remove{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}
.nego_icon{
    position: relative;
    left: 45%;
    bottom: 49%;
}
p{
    margin: 0;
}
p.error{
    font-size: 1.3rem;
    font-weight: 600;
}
.pagination {
    height: 60px;
    border-radius: 9px;
    overflow: hidden;
  }
  .pagination, .pagination__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    direction: ltr;
  }
  .pagination__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 350;
    height: 50px;
    border-radius: 9px;
    margin: 0 9px;
    overflow: hidden;
  }
  .pagination__item {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
  }
  
  .pagination__item > button, .pagination__button {
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 9px;
    background: var(--color-gray);
  }
  .pagination__item > button:not(.activePage):not(:disabled):hover, .pagination__button:hover {
    background: var(--color-secondary);
    color: var(--primary-color);
  }
  .pagination__item > button:disabled{
    background-color: var(--gray-color);
    color: var(--white);
    cursor: not-allowed;
  }
  .pagination__item > button {
    width: 45px;
    height: 45px;
  }
  .pagination__item > button.next_prev {
    width: 40px;
    height: 40px;
  }
  .pagination__item > button[data-level=target] {
    background: var(--color-primary);
    color: var(--color-light-gray);
  }
  .pagination__item .activePage{
    background-color: var(--primary-color);
    color: var(--white);
  }
  .pagination--move-prev {
    -webkit-animation: pagination-move-prev 0.5s ease both;
            animation: pagination-move-prev 0.5s ease both;
  }
  .pagination--move-next {
    -webkit-animation: pagination-move-next 0.5s ease both;
            animation: pagination-move-next 0.5s ease both;
  }
  .pagination--move-top {
    -webkit-animation: pagination-move-top 0.5s ease both;
            animation: pagination-move-top 0.5s ease both;
  }
  .pagination__button {
    width: 35px;
    height: 35px;
  }
  
  @-webkit-keyframes pagination-move-prev {
    from, 0% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(-5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes pagination-move-prev {
    from, 0% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(-5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes pagination-move-next {
    from, 0% {
      transform: translateX(-25px);
    }
    50% {
      transform: translateX(5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @keyframes pagination-move-next {
    from, 0% {
      transform: translateX(-25px);
    }
    50% {
      transform: translateX(5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes pagination-move-top {
    from, 0% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(10px);
    }
    to, 100% {
      transform: translateY(0px);
    }
  }
  @keyframes pagination-move-top {
    from, 0% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(10px);
    }
    to, 100% {
      transform: translateY(0px);
    }
  }