<div class="content pt-5 pb-2">
    <ul ngbNav #nav="ngbNav"  class="nav-tabs" [(activeId)]="active">
      <ng-container *ngFor="let category of categories; let i = index">
        <li [ngbNavItem]="i" id="{{category.slug}}">
          <a ngbNavLink [ngClass]="{'all': category.id == 0}" 
          (click)="getProducts(category.slug);
          getCategoryFilter(category.slug);
          getBrandFilter(category.slug);"> 
            <img src="../../assets/images/left-arrow.svg" class="ps-2" 
            *ngIf="category.id == 0" >{{category.title}}</a>
          <ng-template ngbNavContent>
            <div class="products-row row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-start">
              <div class="alert alert-danger text-center" *ngIf="error">{{error}}</div>
                <div class="col wow fadeIn" data-wow-duration="1.3s" 
                  style="visibility: visible; 
                  animation-duration: 1.3s; 
                  animation-name: fadeIn;"
                  *ngFor="let product of products">
                  <div class="card h-100" *ngIf="product.category_slug !== 'car_plates'">
                    <div class="card-header text-center" >
                      <img  src="{{product.default_image ? product.default_image : '../../assets/images/placeholderimg.jpg'}}" alt="car" width="100%" height="200px !important">
                      <div class="favorite">
                          <a (click)="actionService.removeFav(product.id)" class="btn add_fav p-0" *ngIf="product.product_fav == true">
                           <img src="../../assets/images/already_fav_icon.svg" alt="already_fav_icon" srcset="../../assets/images/already_fav_icon.svg">
                          </a>
                          <a (click)="actionService.addToFav(product.id)" class="btn add_fav p-0" *ngIf="product.product_fav == false">
                            <img src="../../assets/images/favorite_icon.svg" alt="addToFav" srcset="../../assets/images/favorite_icon.svg">                         
                          </a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <a (click)="productDetails(product.id)" class="m-0">
                          <h4>{{(product.name.length > 20)? (product.name | slice:0:20)+'..':(product.name)}}</h4>
                        </a>
                        <img src="../../assets/images/nego_icon.svg" alt="nego_icon" *ngIf="product.negotiable == 1">
                      </div>
                      <!-- <div class="rate">
                        <ng-template #t let-fill="fill">
                            <img src="../../assets/images/rate_star_icon.svg" alt="">
                        </ng-template>
                        <ngb-rating [max]="product.owner_ratings_count == 0 ? 1: product.owner_ratings_count" 
                        [rate]="product.owner_ratings_count" 
                        [readonly]="true"
                        [starTemplate]="t"></ngb-rating>
                      </div> -->
                      <p class="time"><img src="../../assets/images/clock.svg" alt="clock"><span>{{product.created_since}}ايام</span></p>
                      <div class="evaluation d-flex justify-content-between align-items-center">
                        <p><img src="../../assets/images/location_icon (2).svg" alt="location_icon"> {{product.owner_area == null ? 'غير معروف': product.owner_area}}</p>
                        <div class="person d-flex align-items-center">
                            <img class="ps-1" src="../../assets/images/profile_icon.svg" alt="profile_icon" width="20px" >
                            <a (click)="sellerProfile(product.owner_id)" style="cursor: pointer;">
                              {{product.owner.name}}
                            </a>                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card h-100" *ngIf="product.category_slug == 'car_plates'">
                    <div class="card-header plates text-center" >
                      <img *ngIf="product.category_slug == 'car_plates'" 
                      src="../../assets/images/car_paletes_details.svg" alt="carplate_img" width="100%" height="200px !important">
                      <div  class="favorite">
                          <a (click)="actionService.removeFav(product.id)" class="btn add_fav p-0" *ngIf="product.product_fav == true">
                           <img src="../../assets/images/already_fav_icon.svg" alt="already_fav_icon" srcset="../../assets/images/already_fav_icon.svg">
                          </a>
                          <a (click)="actionService.addToFav(product.id)" class="btn add_fav p-0" *ngIf="product.product_fav == false">
                            <img src="../../assets/images/favorite_icon.svg" alt="addToFav" srcset="../../assets/images/favorite_icon.svg">                         
                          </a>
                        </div>  
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <a (click)="productDetails(product.id)" style="cursor: pointer;" class="m-0">
                          <h4>{{(product.name.length > 20)? (product.name | slice:0:20)+'..':(product.name)}}</h4>
                        </a>
                        <img src="../../assets/images/nego_icon.svg" alt="nego_icon" *ngIf="product.negotiable == 1">
                      </div>
                      <ng-container  *ngFor="let property of product.properties">
                        <span  *ngIf="property.type == 'text'">
                            <span *ngIf="property.name_ar == 'حروف اللوحة عربي'" class="card_chars_ar">{{property.filter_value.filter_value}}</span>
                            <span *ngIf="property.name_ar == 'حروف اللوحة انجليزي'" class="card_chars_en">{{property.filter_value.filter_value}}</span>
                            <span *ngIf="property.name_ar == 'ارقام اللوحة عربي'" class="card_num_ar">{{property.filter_value.filter_value}}</span>
                            <span *ngIf="property.name_ar == 'ارقام اللوحة انجليزي'" class="card_num_en">{{property.filter_value.filter_value}}</span>
                        </span>
                      </ng-container>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="card_num">{{product.price}}</p>
                        <p class="time"><img src="../../assets/images/clock.svg" alt="clock"><span>{{product.created_since}}ايام</span></p>
                      </div>
                      <div class="evaluation d-flex justify-content-between align-items-center">
                        <p><img src="../../assets/images/location_icon (2).svg" alt="location_icon"> {{product.owner_area == null ? 'غير معروف': product.owner_area}}</p>
                        <div class="person d-flex align-items-center">
                            <img class="ps-1" src="../../assets/images/profile_icon.svg" alt="profile_icon" width="20px" >
                            <a (click)="sellerProfile(product.owner_id)" style="cursor: pointer;">
                              {{product.owner.name}}
                            </a>                      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-danger" *ngIf="errorLength !== ''">{{errorLength}}</p>
            </div> 
          </ng-template>
        </li>
      </ng-container>
    </ul>
    <a (click)="openFormModal()">
      <img src="../../assets/images/filter.svg" alt="filter" width="50px">
    </a>
  </div>
  <div class="filter" #navScrolled [ngClass]="{'fixed-top': newScroll}">
    <select class="form-select" id="productMark" style="width: auto;" (change)="regionFilter($event)" >
      <option value="" disabled selected>المنطقه</option>
      <option value="all">كل المناطق</option>
      <option value="{{region.id}}" *ngFor="let region of regions">{{region.name}}</option>
    </select>
  </div>
<swiper [config]="config" class="py-2" style="width:80%;">
  <ng-template swiperSlide *ngIf="show">
    <div class="brand_all d-flex justify-content-center">
      <a [ngClass]="{'click': activeClass}"
      (click)="getProducts('cars')">الكل</a>
    </div>
  </ng-template>
  <ng-template swiperSlide *ngFor="let brand of brandsOptions">
        <div class="brand d-flex justify-content-center">
          <a [ngClass]="{'click': activeClass}"  
          (click)="onApplayBrandFilters(brand.id);
          onApplayFiltersKeys(brand.name);">
          <img src="{{brand.image}}" alt="{{brand.name}}" width="70px"></a>
        </div>
      </ng-template>
</swiper>
<swiper [config]="config" style="width:80%;">
  <ng-template swiperSlide *ngFor="let brand of filterbrandsOptions" class="pt-4">
      <div class="d-flex justify-content-center">
        <a [ngClass]="{'click': activeClass}"(click)="onApplayFiltersKeys('',brand.name)">{{brand.name}}</a>
      </div>
  </ng-template>
</swiper>
<div class="fiter_carPlates text-center py-1">
  <form [formGroup]="formPlatesFilter">
  <ng-container *ngFor="let carplate_filter of fiter_carPlates">
    <div class="filters py-2" *ngIf="carplate_filter.type !== 'text'">
      <mat-radio-group aria-label="Select an option" *ngIf="carplate_filter.slug_name !== 'plate_town_filter_6'" 
      [formControlName]="carplate_filter.slug_name">
        <mat-radio-button *ngFor="let option of carplate_filter.filter_options"
         value="{{option.name}}" class="px-2">{{option.name}}</mat-radio-button>
      </mat-radio-group>
      <div class="d-flex justify-content-center align-items-center">
        <select class="form-select" id="productMark" style="width: auto;"  
        *ngIf="carplate_filter.slug_name == 'plate_town_filter_6'" [formControlName]="carplate_filter.slug_name">
          <option value="المدينه" disabled selected>المدينه</option>
          <option value="{{option.name}}" *ngFor="let option of carplate_filter.filter_options">{{option.name}}</option>
        </select>
      </div>
    </div>
  </ng-container>
</form>
  <div class="d-flex justify-content-center" *ngIf="showBtnAction">
    <a class="btn btn_find" (click)="onApplayPlatesFilters()">بحث</a>
    <a class="btn btn_remove me-2" (click)="getProducts('car_plates')">حذف</a>
  </div>
</div>
<div class="loader pt-4 pb-5" *ngIf="loadding" dir="ltr">
  <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 100 100" width="70px" height="70px" enable-background="new 0 0 0 0" xml:space="preserve">
<circle fill="none" stroke="#E29547" stroke-width="4" cx="50" cy="50" r="44" style="opacity:0.7;"/>
<circle fill="#E29547" stroke="#FFEEDD" stroke-width="3" cx="8" cy="54" r="6" >
  <animateTransform
    attributeName="transform"
    dur="1s"
    type="rotate"
    from="0 50 48"
    to="360 50 52"
    repeatCount="indefinite" />
</circle>
</svg>
</div>
  <div [ngbNavOutlet]="nav" class="mt-5 mb-5"></div>
<!-- filter modal -->
<div class="modal fade"
id="filterModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
            <img src="../../assets/images/close.svg" alt="close">
          </button>
          <h5 class="modal-title text-center col-10" id="staticBackdropLabel">فلتر</h5>
        </div>
        <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="load" id="addprog"></mat-progress-bar>
        <p class="text-danger text-center" *ngIf="errfilter">{{errfilter}}</p>
        <div class="modal-body">
          <form [formGroup]="formFilter">
            <ng-container *ngFor="let filter of filters.data.filters">
              <div class="pb-2" *ngIf="filter.type !== 'text'">
                <input type="checkbox" [formControlName]="filter.slug_name"
                class="form-check-input mx-2"  *ngIf="filter.type == 'check'" >
  
                <label for="productMark" class="form-label">{{filter.name_ar}}</label>
                
                <select class="form-select" id="productMark"
                 *ngIf="filter.type == 'select'" [formControlName]="filter.slug_name">
                    <option value="{{filterOption.name}}" *ngFor="let filterOption of filter.filter_options">{{filterOption.name}}</option>
                </select>
              </div>
            </ng-container>
          </form>
          <p>السعر <span>({{value}})</span></p>
          <nz-slider 
              nzRange 
              [(ngModel)]="value"
              [nzStep]="1"
              [nzMin]	= valueMin
              [nzMax]	= valueMax>
          </nz-slider>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-save" (click)="onApplayFilters()">حفظ</button>
        </div>
      </div>
  </div>
</div>
<!-- modal faild -->
<div id="faildProducts" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			
			<div class="modal-body text-center">
        <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{errMsg}}</p>
			</div>
		</div>
	</div>
</div>