.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tabs {
    padding: 0;
    border-bottom: none;
}
 .nav-item{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.nav-item:nth-child(1){
    padding: 0.5rem 0rem 0.5rem 2rem;
}
 .nav-link{
    padding: 1rem 0rem;
}
 .nav-link.all{
    padding: 1rem 1.5rem;
    cursor: pointer;
    align-items: center;
}
.nav-tabs .nav-link:not(.all):focus, 
.nav-tabs .nav-link:not(.all):hover,
.nav-tabs .nav-item.show .nav-link:not(.all), 
.nav-tabs .nav-link:not(.all).active {
    border-color: transparent  transparent var(--org-color) ;
    color: var(--org-color);
    background-color: transparent;
}

.nav-tabs a{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}
.nav-tabs a.all{
    background-color: var(--bg-color);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    font-weight: 900;
}
.nav-tabs a.all:hover,a.all:focus{
    color: var(--primary-color);
}
.loader {
       display: flex;
       justify-content: center;
  }


.modal-header {
    justify-content: center;
    border: none;
}
.modal-header h5{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-footer{
    border: none;
    justify-content: center;
}
.modal-footer .btn-save{
    background-color: var(--primary-color);
    color: var(--white);
    padding: .5rem 4rem;
}
.none{
    font-weight: 500;
    color: var( --sec-text);
    font-size: 1.3rem;
    text-align: center;
}
