<div class="add-agrrement pt-5 pb-5">
    <form [formGroup] ="myForm"  (ngSubmit)="submit()" class="row g-3">
        <div class="card">
            <div class="card-header">
                <p class="header text-center">تعديل الاعلان</p>
            </div>
                <div class="card-body add_images row g-4 justify-content-center">
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <label for="productCategory" class="form-label align-self-start">التصنيف</label>
                            <mat-radio-group aria-label="Select an option" formControlName="productCategory">
                                <ng-container *ngFor="let category of categories">
                                    <mat-radio-button *ngIf="category.title !== 'الكل'" 
                                    value="{{category.slug}}" class="mx-2" disabled >{{category.title}}</mat-radio-button>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-5 plates" *ngIf="Add.data.category_slug == 'car_plates'">
                        <img src="../../../assets/images/car_palets_show.svg" alt="car_plates_icon" width="80%">
                        <ng-container>
                            <span  class="card_chars_ar">{{card_chars_ar_1}} {{card_chars_ar_2}} {{card_chars_ar_3}}</span>
                            <span  class="card_chars_en">{{card_chars_en_3}} {{card_chars_en_2}} {{card_chars_en_1}}</span>
                            <span  class="card_num_ar">{{card_num_ar_1}} {{card_num_ar_2}} {{card_num_ar_3}} {{card_num_ar_4}}</span>
                            <span  class="card_num_en">{{card_num_en_1}} {{card_num_en_2}} {{card_num_en_3}} {{card_num_en_4}}</span>
                        </ng-container>
                    </div>
                    <div class="col-12" *ngIf="Add.data.category_slug == 'cars'">
                                <div class="row row-cols-md-4 row-cols-lg-6 g-3 justify-content-center">
                                    <swiper [config]="config" style="width:100%">
                                        <ng-template class="col" swiperSlide *ngFor="let url of images ;let i='index+1'">
                                            <a (click)="resetImg(1)" class="rest_icon" *ngIf="onAddNewImg1">
                                                <img src="../../../assets/images/close_img_icon.svg" alt="close_img_icon">
                                            </a>
                                                <label for="file{{i}}" class="file-upload">
                                                        <input
                                                            id="file{{i}}"
                                                            type="file"
                                                            class="form-control"
                                                            accept="image/x-png,image/gif,image/jpeg"
                                                            (change)="onFileChange(i,$event)"
                                                            >
                                                        <div class="text-center">
                                                            <img  id="imgSrc_{{i}}" [src]="url ? url : '../../../assets/images/add_new_icon.svg'">
                                                        </div>
                                                </label>
                                        </ng-template> 
                                        <ng-template class="col" swiperSlide *ngFor="let i of rest_images">
                                            <a (click)="resetImg(i)" class="rest_icon" *ngIf="onAddNewImg2">
                                                <img src="../../../assets/images/close_img_icon.svg" alt="close_img_icon">
                                            </a>
                                                <label for="file{{i}}" class="file-upload">
                                                        <input
                                                            id="file{{i}}"
                                                            type="file"
                                                            class="form-control"
                                                            accept="image/x-png,image/gif,image/jpeg"
                                                            (change)="onFileChange(i,$event)"
                                                            >
                                                        <div class="text-center">
                                                            <img id="imgSrc_{{i}}" src='../../../assets/images/add_new_icon.svg'>
                                                        </div>
                                                </label>
                                        </ng-template> 
                                    </swiper>
                                </div>
                    </div>
                    <ng-container *ngFor="let filter of EditFilter">
                        <div class="col-md-6" 
                        *ngIf="(filter.slug_name !== 'plate_chars_en_filter_6' 
                        && filter.slug_name == 'plate_chars_filter_6' )
                            || (filter.slug_name !== 'plate_numbers_en_filter_6' 
                            && filter.slug_name == 'plate_numbers_filter_6') ">
                            <label for="productMark" class="form-label" *ngIf="filter.slug_name == 'plate_chars_filter_6'"> حروف اللوحة </label>
                            <div class="row g-3" [formGroupName]="filter.slug_name"
                                    *ngIf="filter.type == 'text' && filter.name_ar == 'حروف اللوحة عربي' ">
                                    <div class="col-3" *ngFor="let i of [1 , 2 , 3]">
                                        <input  
                                            type="text" 
                                            class="form-control" 
                                            maxlength="1" 
                                            formControlName="plate_chars_ar_{{i}}"
                                            (keyup)="getCardChar(i,$event)"
                                            [ngClass]="{'invalid_input': (f['plate_chars_filter_6'].get('plate_chars_ar_1')?.errors 
                                            || f['plate_chars_filter_6'].get('plate_chars_ar_2')?.errors 
                                            || f['plate_chars_filter_6'].get('plate_chars_ar_3')?.errors)}">
                                    </div>
                                    <p class="small text-muted">{{error_CarPlate}}</p> 
                                </div>
                            <!-- <div class="row g-3" [formGroupName]="filter.slug_name"
                                *ngIf="filter.type == 'text' && filter.name_ar == 'حروف اللوحة انجليزي' " style="display: none;">
                                <div class="col-4 col-sm-3" *ngFor="let i of [1 , 2 , 3]">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        maxlength="1" 
                                        formControlName="plate_chars_en_{{i}}"
                                        readonly >
                                </div>
                            </div> -->
                            <label for="productMark" class="form-label" *ngIf="filter.slug_name == 'plate_numbers_filter_6'"> ارقام اللوحة </label>
                            <div class="row g-3" [formGroupName]="filter.slug_name"
                                        *ngIf="filter.type == 'text' && filter.name_ar == 'ارقام اللوحة عربي' ">
                                        <div class="col-2" *ngFor="let i of [1,2,3,4]">
                                            <input  
                                                type="text" 
                                                class="form-control" 
                                                maxlength="1"
                                                formControlName="plate_number_ar_{{i}}" 
                                                (input)="convertNumbers(i,$event)"
                                                [ngClass]="{'invalid_input': (f['plate_numbers_filter_6'].get('plate_number_ar_1')?.errors || 
                                                f['plate_numbers_filter_6'].get('plate_number_ar_2')?.errors || 
                                                f['plate_numbers_filter_6'].get('plate_number_ar_3')?.errors || 
                                                f['plate_numbers_filter_6'].get('plate_number_ar_4')?.errors)}">
                                        </div>
                                </div>
                            <!-- <div class="row g-3" [formGroupName]="filter.slug_name"
                                *ngIf="filter.type == 'text' && filter.name_ar == 'ارقام اللوحة انجليزي' " style="display: none;">
                                <div class="col-3 col-sm-2" *ngFor="let i of [1,2,3,4]">
                                    <input  
                                        type="text" 
                                        class="form-control" 
                                        maxlength="1"
                                        formControlName="plate_number_en_{{i}}"
                                        readonly
                                        >
                                </div>
                            </div> -->
                        </div>
                    </ng-container>
                        <div class="col-md-6" *ngIf="Add.data.category_slug == 'cars'">
                            <label for="productName" class="form-label">عنوان الإعلان</label>
                            <input type="text" class="form-control" id="productName" 
                            placeholder=""
                            formControlName="name">
                        </div>
                        <!-- <div class="col-md-6">
                            <label for="productMark" class="form-label">المنطقه</label>
                            <select class="form-select" id="productMark" formControlName="region_id">
                                <option value="" disabled selected>اختر المنطقه</option>
                                <option value="{{region.id}}" *ngFor="let region of regions">{{region.name}}</option>
                            </select>
                        </div> -->
                        <div class="col-md-6">
                            <label for="phone" class="form-label">رقم البائع</label>
                            <input type="text" 
                            class="form-control" 
                            id="phone"
                            formControlName="seller_phone">
                        </div>
                        <div class="col-md-6">
                            <label for="productPrice" class="form-label">السعر</label>
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control" id="productPrice" 
                                formControlName="price" style="width: 60%;" [ngClass]="{'disabled': negotiable}">
                                    <a (click)="onNegotiable()" class="btn btn_negotiable" [ngClass]="{'btndisabled': negotiable}">علي السوم</a>
                            </div>       
                        </div>
                        <ng-container *ngFor="let filter of EditFilter" >
                            <div class="col-md-6"*ngIf="filter.slug_name !== 'plate_chars_en_filter_6' 
                            && filter.slug_name !== 'plate_numbers_en_filter_6' 
                            && filter.slug_name !== 'plate_chars_filter_6' 
                            && filter.slug_name !== 'plate_numbers_filter_6' ">
                                <input type="checkbox" class="form-check-input mx-2"
                                [formControlName]="filter.slug_name" 
                                *ngIf="filter.type == 'check'">
                                <label for="productMark" class="form-label">{{filter.name_ar}}</label>
                                <!-- <div class="row g-3" [formGroupName]="filter.slug_name"
                                    *ngIf="filter.type == 'text' && filter.name_ar == 'حروف اللوحة عربي' ">
                                    <div class="col-3" *ngFor="let i of [1 , 2 , 3]">
                                        <input  
                                            type="text" 
                                            class="form-control" 
                                            maxlength="1" 
                                            formControlName="plate_chars_ar_{{i}}"
                                            (keyup)="getCardChar(i,$event)">
                                    </div>
                                    <p class="small text-muted">{{error_CarPlate}}</p> 
                                </div>
                                <div class="row g-3" [formGroupName]="filter.slug_name"
                                    *ngIf="filter.type == 'text' && filter.name_ar == 'حروف اللوحة انجليزي' " >
                                    <div class="col-3" *ngFor="let i of [1 , 2 , 3]">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            maxlength="1" 
                                            formControlName="plate_chars_en_{{i}}"
                                            readonly >
                                    </div>
                                </div>
                                <div class="row g-3" [formGroupName]="filter.slug_name"
                                        *ngIf="filter.type == 'text' && filter.name_ar == 'ارقام اللوحة عربي' ">
                                        <div class="col-2" *ngFor="let i of [1,2,3,4]">
                                            <input  
                                                type="text" 
                                                class="form-control" 
                                                maxlength="1"
                                                formControlName="plate_number_ar_{{i}}" 
                                                (input)="convertNumbers(i,$event)"
                                                >
                                        </div>
                                </div>
                                <div class="row g-3" [formGroupName]="filter.slug_name"
                                        *ngIf="filter.type == 'text' && filter.name_ar == 'ارقام اللوحة انجليزي' ">
                                    <div class="col-2" *ngFor="let i of [1,2,3,4]">
                                            <input  
                                                type="text" 
                                                class="form-control" 
                                                maxlength="1"
                                                formControlName="plate_number_en_{{i}}"
                                                readonly
                                                >
                                    </div>
                                </div> -->
                                <select class="form-select" id="productMark" 
                                [formControlName]="filter.slug_name" *ngIf="filter.type == 'select'">
                                    <option [value]="filterOption.name"
                                     *ngFor="let filterOption of filter.filter_options">{{filterOption.name}}</option>
                                </select>
                                <input type="text" 
                                    *ngIf="filter.type == 'text' && Add.data.category_slug !== 'car_plates'" 
                                    class="form-control" [formControlName]="filter.slug_name">
                            </div>
                        </ng-container>
                        <div class="col-md-6">
                            <label for="productDesc" class="form-label">وصف المنتج</label>
                            <textarea type="text" class="form-control" id="productDesc" 
                            placeholder="" formControlName="desc"></textarea>        
                        </div>
                        <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="load" id="addprog"></mat-progress-bar>
                </div>
            <div class="d-flex justify-content-center align-items-center pt-5 pb-3">
                <button class="btn btn-next btn-prim" type="submit">التالى</button>
            </div>
        </div>
    </form>
</div>
<!-- success Modal -->
<div id="modelSuccessNewProduct" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            <div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-header justify-content-center">
                    <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
			</div>
			<div class="modal-body text-center">
				<p class="review">سيتم مراجعه طلبك وسنقوم بالرد عليك فى خلال ساعات</p>
                <div class="contnet d-flex align-items-center justify-content-evenly">
                    <div class="copy">
                        <a ngxClipboard [cbContent]="updateProduct.data.order_code.toString()">
                            <img src="../../../assets/images/copy.svg" alt="copy">
                        </a> 
                    </div>
                    <img src="../../../assets/images/divider.svg" alt="divider">
                    <div class="order">
                        <p class="pp-1">رقم الطلب الخاص بك هو</p>
                        <p class="pp-2">{{updateProduct.data.order_code}}</p>
                        <p class="pp-3"><span>ملاحظه:</span>سيتم ارسال اشعار في حاله الموافقه علي الطلب</p>
                    </div>                   
                </div>
			</div>
		</div>
	</div>
</div>
<!-- modal add images -->
<div id="modelAddImages" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<!-- <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            <a (click)="close()"><img src="../../../assets/images/close.svg" alt="close"></a>
			<div class="modal-header justify-content-center">
                <h5 class="title text-center" id="staticBackdropLabel">تعديل صور المنتج</h5>
			</div>
			<div class="modal-body text-center">
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label for="file1" class="file-upload">
                            <input
                                id="file1"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange1($event)">
                                <div class="text-center">
                                    <img  [src]="imgSrc1 ? imgSrc1 : '../../../assets/images/product-imgs.svg'" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label for="file3" class="file-upload">
                            <input
                                id="file3"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange3($event)">
                                <div class="text-center">
                                    <img   [src]="imgSrc3 ? imgSrc3 : '../../../assets/images/product-imgs.svg'" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label for="file" class="file-upload">
                            <input
                                id="file"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange($event)">
                                <div class="text-center">
                                    <img  [src]="imgSrc ? imgSrc : '../../../assets/images/product-imgs.svg'" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="button" class="btn btn-prim m-3" (click)="close()">اضافه</button>
                </div>
            </div>
			</div>
	</div> -->
</div>
<!-- add faild -->
<div id="addFaild" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
                <p class="py-3">{{error}}</p>
			</div>
		</div>
	</div>
</div>
