<div class="add-agrrement pt-5 pb-5">
    <form [formGroup] ="myForm"  (ngSubmit)="submit()" class="row g-3">
        <div class="card">
            <div class="card-header">
                <p class="header text-center">تعديل الاعلان</p>
            </div>
                <div class="card-body row g-4">
                        <div class="col-12">
                            <label  class="file-upload" (click)="openImgDialog()">
                                    <div class="text-center">
                                        <img src="../../../assets/images/product-imgs.svg" alt="product-imgs">
                                        <p>تعديل صور المنتج</p>
                                        <img *ngFor="let url of images" [src]="url" height="150" width="200px" style="margin: 3px;">
                                    </div>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label for="productName" class="form-label">اسم المنتج</label>
                            <input type="text" class="form-control" id="productName" 
                            placeholder=" سياره بي ام"
                            formControlName="name">
                        </div>
                        <div class="col-md-6">
                            <label for="productCategory" class="form-label">التصنيف</label>
                            <select class="form-select" id="productCategory" 
                            formControlName="productCategory">
                                <option  [value]="category.slug"
                                *ngFor="let category of categories"
                                [disabled]="category.title == 'الكل'"
                                >{{category.title == 'الكل'? 'اختر تصنيف' : category.title}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="form-label">رقم البائع</label>
                            <input type="text" 
                            class="form-control" 
                            id="phone"
                            formControlName="seller_phone">
                        </div>
                        <div class="col-md-6" *ngFor="let filter of EditFilter">
                            <input type="checkbox" class="form-check-input mx-2"
                            [formControlName]="filter.slug_name" 
                            *ngIf="filter.type == 'check'">
                            <label for="productMark" class="form-label">{{filter.name_ar}}</label>
                            <select class="form-select" id="productMark" 
                            [formControlName]="filter.slug_name" *ngIf="filter.type == 'select'">
                                <option value="{{filterOption.name}}"
                                 *ngFor="let filterOption of filter.filter_options">{{filterOption.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="productPrice" class="form-label">السعر</label>
                            <input type="text" class="form-control" id="productPrice" 
                            placeholder="4000"
                            formControlName="price">        
                        </div>
                        <div class="col-md-6">
                            <label for="productSeller" class="form-label">عن البائع</label>
                            <textarea type="text" class="form-control" id="productSeller" 
                            placeholder="عن البائع عن البائع" formControlName="about_seller"></textarea>        
                        </div>
                        <div class="col-md-6">
                            <label for="sellerinfo" class="form-label">ملاحظات التواصل</label>
                            <textarea type="text" class="form-control" id="sellerinfo" 
                            placeholder="معلومات لاتصال" formControlName="delivery_notes"></textarea>        
                        </div>
                        <div class="col-md-6">
                            <label for="productDesc" class="form-label">وصف المنتج</label>
                            <textarea type="text" class="form-control" id="productDesc" 
                            placeholder="سياره بي ام سياره بي ام" formControlName="desc"></textarea>        
                        </div>
                        <div class="col-md-6">
                            <label for="productMaterial" class="form-label">خامات المنتج</label>
                            <textarea type="text" class="form-control" id="productMaterial" 
                            placeholder="سياره بي ام سياره بي ام" formControlName="materials"></textarea>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <label for="file2" id="label-file">
                                <input type="file" id="file2" 
                                formControlName="ownership_image" 
                                class="form-control" style="height: 0px">
                                <div class="d-flex justify-content-between py-2 px-3">
                                    <span>اضافه وثيقه المنتج</span>
                                    <img src="../../../assets/images/upload-docs.svg" alt="upload-docs">
                                    <!-- <p *ngIf="ownership">{{ownership}}</p> -->
                                </div>
                            </label>
                        </div>
                        <!-- <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="load" id="addprog"></mat-progress-bar> -->
                </div>
            <div class="d-flex justify-content-center align-items-center pt-5 pb-3">
                <button class="btn btn-next btn-prim" type="submit">التالى</button>
            </div>
        </div>
    </form>
</div>
<!-- success Modal -->
<div id="modelSuccessNewProduct" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
                    <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
			</div>
			<div class="modal-body text-center p-0">
				<p class="review">سيتم مراجعه طلبك وسنقوم بالرد عليك فى خلال ساعات</p>
                <div class="contnet d-flex align-items-center justify-content-evenly">
                    <div class="copy">
                        <a href="">
                            <img src="../../../assets/images/copy.svg" alt="copy">
                        </a> 
                    </div>
                    <img src="../../../assets/images/divider.svg" alt="divider">
                    <div class="order">
                        <p class="pp-1">رقم الطلب الخاص بك هو</p>
                        <p class="pp-2">{{updateProduct.data.order_code}}</p>
                        <p class="pp-3"><span>ملاحظه:</span>سيتم ارسال اشعار في حاله الموافقه علي الطلب</p>
                    </div>                   
                </div>
			</div>
		</div>
	</div>
</div>
<!-- modal add images -->
<div id="modelAddImages" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            <a (click)="close()"><img src="../../../assets/images/close.svg" alt="close"></a>
			<div class="modal-header justify-content-center">
                <h5 class="title text-center" id="staticBackdropLabel">تعديل صور المنتج</h5>
			</div>
            <!-- <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="load" id="addprog"></mat-progress-bar> -->
			<div class="modal-body text-center">
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label for="file1" class="file-upload">
                            <input
                                id="file1"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange1($event)">
                                <div class="text-center">
                                    <img  [src]="imgSrc1" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label for="file3" class="file-upload">
                            <input
                                id="file3"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange3($event)">
                                <div class="text-center">
                                    <img   [src]="imgSrc3" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label for="file" class="file-upload">
                            <input
                                id="file"
                                type="file"
                                class="form-control"
                                hidden
                                (change)="onFileChange($event)">
                                <div class="text-center">
                                    <img  [src]="imgSrc" height="150" width="200px" style="margin: 3px;">
                                    <p>تعديل صور المنتج</p>
                                </div>
                        </label>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="button" class="btn btn-prim m-3" (click)="close()">اضافه</button>
                </div>
            </div>
			</div>
	</div>
</div>
<!-- add faild -->
<div id="addFaild" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
                <img src="../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
			</div>
			<div class="modal-body text-center">
                <p>{{error}}</p>
			</div>
		</div>
	</div>
</div>
