<div class="add-edit pt-5 pb-5">
    <div class="main">
        <div class="map"></div>

        <div class="container-fluid pt-5 pb-5">
            <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="loaderAdd" id="addprog"></mat-progress-bar>
            <form  class="row g-3 form-profile pt-4" 
                [formGroup]="addForm" 
                (ngSubmit)="onSubmit()">
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="legacy" dir="ltr">
                        <mat-label>تصنيف العنوان</mat-label>
                        <mat-select 
                            formControlName="addKind"
                            >
                          <mat-option value="home">المنزل</mat-option>
                          <mat-option value="work">العمل</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>العنوان</mat-label>
                        <input matInput 
                        formControlName="title"
                        >
                    </mat-form-field>   
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>المدينه</mat-label>
                        <input matInput 
                        formControlName="city"
                        >
                    </mat-form-field>   
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>رقم الشارع</mat-label>
                        <input matInput 
                        formControlName="streetNo">
                    </mat-form-field>   
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>رقم المبني</mat-label>
                        <input matInput formControlName="buildingNo">
                    </mat-form-field>   
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-prim" >حفظ</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal success -->
<div id="successAdd" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			
			<div class="modal-body text-center">
                <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
				<p class="py-4">{{msg}}</p>
			</div>
		</div>
	</div>
</div>  
<!-- modal faild -->
<div id="faildAdd" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			
			<div class="modal-body text-center">
                <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{msg}}</p>
			</div>
		</div>
	</div>
</div>  