.add-content{
    background: var(--white);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.card{
    border-radius: 15px;
}
.add-content .card-header{
    height: 350px;
    /* background-color: var(--header-bg); */
    border-radius: 15px 15px 0px 0px;
}
.add-content .card-header .badge,
.add-content .card-header .fav{
    position: absolute;
    left: 20px;
    top: 27px;
}
.add-content .card-header .imgCover{
    border-radius: 15px 15px 0px 0px;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.add-content .card-header .edit{
    position: absolute;
    left: 0;
}
.add-content .card-body,.add-content .card-header{
    padding: 0;
}
.add-content .card-body .user-profile{
    height: 120px;
    background-color: var(--white);
}
.add-content .card-body .user-profile .profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-content .card-body .user-profile .profile-img img{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* top: 35%; */
}
.add-content .card-body .my-info{
    position: relative;
    top: 100px;
}
.add-content .card-body .user-data p.user-name{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.add-content .card-body .user-data p.user-rate{
    color: var(--primary-color);
    font-weight: 600;
    padding-top: .5rem;
}
.add-content .card-body .user-info .nav-tabs{
    padding: 0;
}
.add-content .card-body .nav-tabs .nav-link {
    color: var(--primary-color);
    /* border: none; */
    font-weight: 600;
    padding: 0.5rem 1.5rem;
}
.add-content .card-body .nav-tabs .nav-item.show .nav-link, 
.add-content .card-body .nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
    color: var(--primary-color);
    background-color: rgba(18, 0, 76, 0.1);
    border-color: rgb(222 226 230) rgb(222 226 230) var(--primary-color) rgb(255 255 255) ;
    border-bottom-width: 2px;
}
/* rate */
.card-rate{
    border: 0.5px solid var(--sec-text);
    border-radius: 10px;
}
.card-rate .card-body{
    padding: 1rem;
}
.client-img img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.client-name p{
    color: var(--primary-color);
    font-weight: 600;
}
.desc p{
    color: var(--primary-color);
    font-weight: 400;
    font-size: .9rem;
}
.desc small{
    color: var(--sec-text);
    font-weight: 300;
}
.filter p{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
 p.filter-result{
    color: var(--light-blue);
}
/* adds */
.card-body .products-row .card-header{
    padding: 0.5rem ;
    border-bottom: none ;
    background-color: var(--bg-color);
    border-radius: 15.3114px;
    height: 200px;
    position: relative;
}
.products-row .card-body p.price{
    color: var(--org-color);
}
.products-row .card-header .dropdown-toggle::after{
    display: none;
}
.products-row .card-header .btn-dots{
    position: absolute;
    left: 5%;
    top: 3%;
}
.products-row .card-header .dropdown-menu{
    background: #FFFFFF;
    box-shadow: 0px 5.82143px 17.4643px rgba(0, 0, 0, 0.25);
    border-radius: 7.27679px;
}
#myModalFilter .form-select {
    
    color: var(--primary-color);
    background-color: transparent;
    background-image: url(../../assets/images/arrow-down-org.svg);
    background-position: left 0.75rem center;
    border: none;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    cursor: pointer;
}
#myModalFilter .modal-header,
#myModalFilter .modal-footer{
    border: none;
}
#myModalFilter .modal-header h5{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
}
#myModalFilter .modal-body .sort{
    border-bottom: 1px solid #C7C7C7;
}
.form-select:focus{
    box-shadow: none !important;
}
#myModalFilter .modal-footer .btn-save{
    background-color: var(--primary-color);
    color: var(--white);
    padding: .5rem 4.5rem;
}
.btn-adds {
    padding: 1rem 4rem;
    border-radius: 10px;
}
.btn-adds:hover{
    color: var(--white);
}
.none{
    font-weight: 500;
    color: var( --sec-text);
    font-size: 1.3rem;
    text-align: center;
}
#faild .p{
    color: var(--primary-color);
    font-size: 1.33rem;
}
.card_chars_en {
    position: absolute;
    font-weight: 900;
    color: var(--black);
    bottom: 33%;
    top: unset;
}
.card_chars_ar {
    position: absolute;
    font-weight: 900;
    color: var(--black);
    top: 33%;
}
.card_num_en {
    position: absolute;
    font-weight: 900;
    color: var(--black);
    bottom: 33%;
    top: unset;
}
.card_num_ar {
    position: absolute;
    font-weight: 900;
    color: var(--black);
    top: 33%;
}