<div class="main mt-5 mb-5">
    <div class="title"></div>
    <div class="profile-img">
        <img *ngIf="userData.data.image_url" [src]="userData.data.image_url" alt="profile-img">
        <img *ngIf="!(userData.data.image_url)" src="../../assets/images/profilePlacholder.png" alt="profile-img">
        <div class="edit">
            <label for="file" class="file-upload">
                <input
                id="file"
                type="file"
                class="form-control" 
                hidden
                (change)="onFileChange($event)">
                
                <img src="../../assets/images/edit-pen.svg" alt="edit">
                </label>
        </div>
        <!-- <img [src]="imageUrl" alt=""> -->
    </div>
    
    <p class="text-center user-name">{{userData.data.name}}</p>
    <div class="loader" *ngIf="loadProfile">
        <mat-progress-bar mode="indeterminate" class="my-3 text-center" ></mat-progress-bar>
    </div>
        <div class="container">
            <p>اعدادات الحساب</p>
            <form  class="row  g-3 form-profile pt-4" 
            [formGroup]="userForm" >
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>الاسم</mat-label>
                        <input matInput 
                        formControlName="name"
                       >
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>رقم الهاتف</mat-label>
                        <input matInput 
                        formControlName="phone"
                        >
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>تاريخ الميلاد</mat-label>
                        <input matInput [matDatepicker]="picker" 
                        formControlName="birthdate"
                       >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>البريد الالكترونى</mat-label>
                        <input matInput 
                        formControlName="email"
                      
                        >
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>النوع</mat-label>
                        <mat-select disabled="edit"
                        value="{{userData.data.gender}}"
                        >
                            <mat-option value="female">انثى</mat-option>
                            <mat-option value="male">ذكر</mat-option>
                        </mat-select>
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>العنوان</mat-label>
                        <input matInput 
                        formControlName="address"
                        >
                    </mat-form-field>   
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-prim mx-3" *ngIf="!changeBtn" (click)="allowEdit()">تعديل</button>
                    <button type="button" class="btn btn-prim mx-3" *ngIf="changeBtn" (click)="submitEdit()">حفظ</button>
                    <button type="button" class="btn btn-sec mx-3" (click)="deleteAcc()">حذف الحساب</button>
                </div>
            </form>
        </div>
</div>
<!-- edit modal -->
<div class="modal fade yesORno"
id="modalEdit"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-center" id="staticBackdropLabel">هل تريد تعديل البيانات</h5>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-yes m-3"(click)="goEdit()">نعم</button>
    
            <button type="button" class="btn btn-no m-3" data-bs-dismiss="modal" aria-label="Close">لا</button>
        </div>
       
      </div>
  </div>
</div>
<!-- delete modal -->
<div class="modal fade yesORno"
id="modalRemove"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-center" id="staticBackdropLabel">تاكيد الحذف </h5>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-yes m-3" (click)="confirmDel()">نعم</button>
    
            <button type="button" class="btn btn-no m-3" data-bs-dismiss="modal" aria-label="Close">لا</button>
        </div>
       
      </div>
  </div>
</div>
<!-- edit success -->

<div id="editSuccess" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
                    <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
			</div>
			<div class="modal-body text-center">
				<p>تم الحفظ بنجاح</p>
			</div>
		</div>
	</div>
</div>     
<!-- edit faild -->

<div id="editFaild" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
                    <img src="../../assets/images/faild-mark.svg" alt="faild-mark">
			</div>
			<div class="modal-body text-center">
                <p>لم ينجح الحفظ</p>
			</div>
		</div>
	</div>
</div>     

<!-- image update modal -->

