.content a{
    float: right;
    padding: 1rem 1rem 0;
}
.header{
    padding: 1.3rem 3rem;
}
.body{
    padding: 1rem 3rem;
}
.header h5{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}
.btn-prim{
    padding: 0.5rem 1.4rem;
}