<mat-nav-list>
    <a class="close" (click)="closeNav()"><mat-icon>close</mat-icon></a>
    <div class="logo py-4 d-flex align-items-center justify-content-center">
        <a (click)="closeNav()" routerLink="/home">
            <img src="../../assets/images/header-logo.svg" alt="header-logo" width="100%">
        </a>
    </div>
    <mat-divider></mat-divider>
    <ul class="navbar-nav main-nv  mb-2 mb-lg-0   align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
           routerLink='/home' routerLinkActive="active">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat" routerLinkActive="active">الرسائل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adds',userId]"  
          routerLinkActive="active">إعلاناتي</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buyingrecord" 
          routerLinkActive="active">سجل الشراء</a>
        </li>
        <li class="nav-item">
          <button class="btn collapsed custom btn-1" 
            data-bs-toggle="collapse" 
            data-bs-target="#forms-collapse" aria-expanded="false">
            <span class="ps-1">المزيد</span><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10.3529L16 2.58778L13.3321 0L8 5.17739L2.66792 0L3.2528e-07 2.58778L8 10.3529Z" fill="#12004C"/>
              </svg>
          </button>
          <div class="collapse" id="forms-collapse" >
            <ul class="more-list p-0 pe-4">
                  <li>
                    <button class="btn adds custom collapsed p-0" 
                    data-bs-toggle="collapse" data-bs-target="#forms-collapse2" aria-expanded="false">
                    <span class="ps-2">التطبيقات</span><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 10.3529L16 2.58778L13.3321 0L8 5.17739L2.66792 0L3.2528e-07 2.58778L8 10.3529Z" fill="#12004C"/>
                        </svg>
                    </button>
                    <div class="collapse" id="forms-collapse2" >
                      <ul class="adds-list p-0">
                          <li *ngFor="let category of categories">
                            <a [routerLink]="['/home']" fragment="{{category.slug}}}" class="d-inline-flex align-items-center rounded">{{category.title}}</a>
                          </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a  [routerLink]="['/adds',userId]">المفضله</a>
                  </li>
                  <li>
                    <a  routerLink="/address">قائمه العناوين</a>
                  </li>
                  <li>
                    <a  routerLink="/subscriptions">الاشتراكات</a>
                  </li>
                  <li>
                    <a  routerLink="/new-add">اضافه اعلان</a>
                  </li>
                  <li>
                    <a [routerLink]="['/chat']">الدعم</a>
                  </li>
                  <li>
                    <a  (click)="termsCondition('privacy_policy')">من نحن</a>
                  </li>
                  <li>
                    <a  [routerLink]="['/adds',userId]">طلباتى</a>
                  </li>
                  <li >
                    <a class="" (click)="termsCondition('terms_conditions')">الشروط والاحكام</a>
                  </li>
            </ul>
          </div>
        </li>
      </ul>
    <mat-divider></mat-divider>
    <ul class="navbar-nav main-nv mb-2 mb-lg-0   align-items-center">
        <li class="nav-item" *ngIf="!(authService.isRegister | async)">
          <button class="btn create-account" routerLink="register">إنشاء حساب</button>
        </li>
        <li class="nav-item" *ngIf="authService.isRegister | async">
          <a class="nav-link" routerLink="/profile">
            <img src="../../assets/images/profile-icon.svg" alt="profile-icon">
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isRegister | async">
          <a class="nav-link" (click)="logOut()">
            <img src="../../assets/images/exit.svg" alt="exit">
          </a>
        </li>
    </ul>
</mat-nav-list> 
