/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
:root{
    --font-family: 'Cairo', sans-serif;
    --bg-color: #F7F9FD;
    --org-color: #E29547;
    --primary-color: #12004C;
    --sec-color: #145097;
    --white: #FFFFFF;
    --black: #000;
    --gray: #BABABA;
    --sec-text: #8E8E8E;
    --grey-text: #2c2c2e;
    --light-org: #FFEEDD;
    --bg-color-2: #FAFAFA;
    --white: #FFFFFF;
    --bf-rate: #C9BCAD;
    --online: #2AD750;
    --offline: red;
    --semi-red:#C02929;
    --header-bg: #D9D9D9;
    --light-grey: #8C8C8C;
    --light-blue: #039AEE;
}
/* html, body { height: 100%;} */

body { 
    margin: 0; 
    direction: rtl;
}
*{
    font-family: var(--font-family);
}
.container-fluid {
    padding-right: var(--bs-gutter-x,3rem);
    padding-left: var(--bs-gutter-x,3rem);
}
@media screen and (max-width: 575px) {
    .container-fluid {
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }
}
.btn:focus,
input:focus,button:focus{
    box-shadow: none !important;
    outline: none;
}
.btn:hover{
    transform: scale(.97);
}
.btn-prim{
    background-color: var(--primary-color);
    color: var(--white);
}
.btn-prim:hover{
    color: var(--white);
}
.btn-sec{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
a{
    text-decoration: none;
    cursor: pointer;
}
.card{
    border: none;
}
.card-header {
    margin-bottom: 0;
    border-bottom: none;
}
.modal-content{
    border-radius: 27px 27px 0px 0px;
}
input:focus , textarea:focus{
    box-shadow: none;
}
label.star{
    color: var(--bf-rate) !important;
}
label.star::before{
    content: "\f005" !important;
}
label.star:hover {
    transform: scale(1.3) !important;
}
input.star:checked ~ label.star:before {
    color: var(--org-color) !important;
}
@media screen and (max-width: 350px) {
    label.star{
        padding: 5px !important;
        font-size: 30px !important;
    }
}
.img-banner .carousel-indicators{
    bottom: 0 !important;
}
.img-banner .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: var(--org-color);
    border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}

.carousel-indicators{
    bottom: -30px;
}
.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.mat-form-field-type-mat-select .mat-form-field-label {
    width: 100% !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, 
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    width: 133.3333333333% !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.7em 0;
}
.mat-form-field:nth-child(4){
    direction: ltr;
}
#otpModel .modal-body .otp-input{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: none; 
    text-align: center;
    font-size: 20px;
    margin: 1rem .5rem;
    background: #F7F9FD;
    box-shadow: 0px 1.86006px 7.44023px rgba(0, 0, 0, 0.25);
    caret-color: var(--org-color);
}
.mat-progress-spinner,
.mat-progress-spinner svg {
    width: 40px !important;
    height: 40px !important;
}
.mat-progress-bar{
    width: 50% !important;
}
.container .mat-radio-container {
    display: none !important;
}
.mat-radio-button.mat-accent.mat-radio-checked span .card{
    border: 3px solid var(--light-blue) !important;
}
#payment .mat-radio-group{
    display: flex;
    flex-direction: column;
    direction: ltr;
    /* padding: 1rem; */
}
#payment .mat-radio-label-content {
    padding-left: 1rem;
}
#payment .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: var(--org-color);
}
#payment .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--org-color);
}
.form-profile .mat-form-field{
    width: 100%;
}
 .mat-form-field-empty.mat-form-field-label, 
 .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
 .mat-form-field input {
    display: block;
    text-align: right;
}
.main{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.yesORno .modal-header{
    background-color: var(--org-color);
    color: var(--white);
    border-radius: 23.16px 23.16px 0px 0px;
}
.yesORno .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.yesORno .modal-body .btn-yes{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 15.44px;
}
.yesORno .modal-body .btn-no{
    background-color: var(--white);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 15.44px;
    border:1px solid var(--primary-color) ;
}
.yesORno  h5{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    padding: .5rem;
}