<div class="">
    <div class="row justify-content-between align-items-center pt-4 pb-4">
        <div class="col-sm-12 col-md-4">
            <form class="d-flex">
                <button class="btn btn-search" type="submit"><img src="../../assets/images/search.svg" alt=""></button>
                <input class="form-control" type="search" placeholder="البحث" aria-label="Search">
            </form>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-end div-add">
            <button class="btn btn-adds"><img src="../../assets/images/adds.svg" alt="adds"><span class="pe-2">إضافة إعلان</span></button>
        </div>
    </div>
</div>