    <div class="product-row row g-4 justify-content-center pt-5 pb-5">
        <div class="col-lg-9 col-12" >
            <div class="py-3 text-center" *ngIf="singleProduct.data.product_images.length !== 0">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div class="d-flex justify-content-center mb-5 plates" *ngIf="singleProduct.data.product_images.length == 0">
                <img src="../../../assets/images/car_palets_show.svg" alt="car_plates_icon" width="80%">
                <ng-container  *ngFor="let property of singleProduct.data.properties">
                    <span  *ngIf="property.type == 'text'">
                        <span *ngIf="property.name_ar == 'حروف اللوحة عربي'" class="card_chars_ar">{{property.filter_value.filter_value}}</span>
                        <span *ngIf="property.name_ar == 'حروف اللوحة انجليزي'" class="card_chars_en">{{property.filter_value.filter_value}}</span>
                        <span *ngIf="property.name_ar == 'ارقام اللوحة عربي'" class="card_num_ar">{{property.filter_value.filter_value}}</span>
                        <span *ngIf="property.name_ar == 'ارقام اللوحة انجليزي'" class="card_num_en">{{property.filter_value.filter_value}}</span>
                    </span>
                    </ng-container>
            </div>
            <div class="card main-card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 prod-desc">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="prod-name">{{singleProduct.data.name}}</h2>
                                <a (click)="actionService.addToFav(singleProduct.data.id)" class="">
                                    <img src="../../../assets/images/wishlisticon.svg" alt="wishlisticon">
                                </a>
                            </div>
                            <img src="../../assets/images/nego_icon.svg" alt="nego_icon" class="nego_icon" *ngIf="singleProduct.data.negotiable == 1">
                            <div class="prod-details d-flex align-items-center py-2">
                                <div class="owner">
                                    <p class="m-0">{{singleProduct.data.price}} ر.س</p>
                                </div>
                                <p class="time px-5"><img src="../../assets/images/location_icon (2).svg" alt="clock"><span class="pe-1">{{singleProduct.data.region_name}}</span></p>
                            </div>
                            <div class="prod-details d-flex align-items-center">
                                <div class="owner">
                                    <img class="ps-1" src="../../assets/images/profile_icon.svg" alt="profile_icon">
                                    <a (click)="sellerProfile(singleProduct.data.owner_id)">{{singleProduct.data.owner.name}}</a>
                                </div>
                                <p class="time px-5"><img src="../../assets/images/clock.svg" alt="clock"><span class="pe-1">منذ {{singleProduct.data.created_since | dateAgo}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let filter_value of singleProduct.data.properties" class="">
                        <div class="desc_details" *ngIf="filter_value.name_ar !== 'ماركة السيارة' && filter_value.name_ar !== 'المدينة' ">
                            <div class="col-12 col-sm-4 d-flex justify-content-between align-items-center">
                                <p>{{filter_value.name_ar}}</p>
                                <p>{{filter_value.filter_value.filter_value}}</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="mt-2 add_desc">
                        <span>الوصف</span>
                        <p class="prod-desc m-0">{{singleProduct.data.desc}}</p>
                    </div>
                    <div class="btn-buy d-flex justify-content-center pt-5">
                        <button class="btn btn-site" (click)="onBuy()" *ngIf="owner_id != singleProduct.data.owner_id">شراء</button>
                        <button class="btn btn-site" (click)="editAdd(singleProduct.data.id)" *ngIf="owner_id == singleProduct.data.owner_id">تعديل الاعلان</button>
                    </div>
                </div>
                <!-- <div class="card-body">
                    <div class="content">
                        <ul ngbNav #nav="ngbNav"  class="nav-tabs">
                            <li [ngbNavItem]="1">
                              <a ngbNavLink>الوصف</a>
                              <ng-template ngbNavContent>
                                <div class="content-desc col-md-9 col-12 pt-3">
                                    <p class="title">{{singleProduct.data.name}}</p>
                                    <p class="desc">{{singleProduct.data.desc}}</p>
                                </div>    
                              </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                              <a ngbNavLink>الخامات</a>
                              <ng-template ngbNavContent>
                                <div class="material-desc col-md-9 col-12 pt-3">
                                    <p class="title">{{singleProduct.data.name}}</p>
                                    <p class="material">{{singleProduct.data.materials}}</p>
                                </div>
                              </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                              <a ngbNavLink>عن البائع</a>
                              <ng-template ngbNavContent>
                                <div class="owner-desc col-md-9 col-12 pt-3">
                                    <p class="title">{{singleProduct.data.owner.name}}</p>
                                </div>
                              </ng-template>
                            </li>
                            <li [ngbNavItem]="4">
                                <a ngbNavLink>الملكيه</a>
                                <ng-template ngbNavContent>
                                    <div class="ownership-desc col-md-9 col-12 pt-3">
                                        <p class="desc">نعرض لك هنا نسخه مصغره من المستندات التي تثبت ملكيه المنتج للبائع وفي حاله الشراء سيتم ارفاقها مع المنتج </p>
                                        <button class="btn btn-display" (click)="openFormModal()">عرض</button>
                                    </div>
                                    
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="5">
                                <a ngbNavLink>التقيمات</a>
                                <ng-template ngbNavContent>
                                    <div *ngIf="!singleProduct.data.owner_ratings || singleProduct.data.owner_ratings == null" class="none pt-4 pb-5">
                                        <p>لا يوجد تقيمات</p>
                                    </div>
                                      
                                      <div class="rating-row row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center pt-5 pb-5" *ngIf="singleProduct.data.owner_ratings || singleProduct.data.owner_ratings !== null">
                                            <div class="col wow fadeIn" 
                                             data-wow-duration="1.3s"  style="visibility: visible; animation-duration: 1.3s; 
                                             animation-name: fadeIn;" *ngFor="let ownerRating of singleProduct.data.owner_ratings ; let i = index" >
                                              <div class="card h-100 card-rate">
                                                <div class="card-body text-center">
                                                  <div class="client-img">
                                                      <img src="{{ownerRating.reviewer.image_url}}" alt="profile">
                                                  </div>
                                                  <div class="client-name pt-1">
                                                      <p>{{ownerRating.reviewer.name}}</p>
                                                  </div>
                                                  <div class="rate d-flex justify-content-center">
                                                    <ng-container *ngFor="let _ of [].constructor(ownerRating.value)">
                                                      <img src="../../../../assets/images/ratestar.svg" alt="ratestar" width="13%">
                                                    </ng-container>
                                                  </div>
                                                  <div class="desc pt-2">
                                                      <p>{{ownerRating.desc}}</p>
                                                      <small>منذ {{ownerRating.created_since}} ايام</small>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                          <div class="add-rate d-flex justify-content-center pt-5">
                                             <img src="../../../../assets/images/add-rate.svg" alt="add-rate" class="ps-3">
                                             <a (click)="openFormModal2()">اضافه تقيم</a>
                                          </div>
                                        
                                </ng-template>
                            </li>
                        </ul>
                          <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>                  
                    <div class="content-images d-flex pt-5 pb-5 justify-content-end" dir="ltr">
                        <div class="column text-left"  *ngIf="singleProduct.data.product_images">
                            <div class="col-md-7 col-12 p-2" *ngFor="let img of singleProduct.data.product_images">
                                <img src="{{img.image_url}}" alt="product-img" width='100%'>
                            </div>
                        </div>
                        <div class="column text-left"  *ngIf="!singleProduct.data.product_images || singleProduct.data.product_images.length == 0">
                            <div class="">
                                <p>لا يوجد صور للمنتج</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- <div class="col-lg-3 col-12">
            <div class="card main-card">
                <div class="card-header related-apps">
                    <p>اعلانات مشابهة</p>
                    <p>سياره جديده-سياره جديده</p>
                </div>
                <div class="card-body">
                    <div class="column">
                        <div class="adds">
                            <img src="../../../assets/images/caradd.svg" alt="caradd" width="100%">
                            <p class="add-name pt-2"> السيارة: شيفروليه-فان</p>
                            <p class="add-desc">سياره جديده</p>
                        </div>
                        <div class="adds">
                            <img src="../../../assets/images/cardadd2.svg" alt="cardadd2" width="100%">
                            <p class="add-name pt-2"> السيارة: شيفروليه-فان</p>
                            <p class="add-desc">سياره جديده</p>
                        </div>
                        <div class="adds">
                            <img src="../../../assets/images/caradd3.svg" alt="caradd3" width="100%">
                            <p class="add-name pt-2"> السيارة: شيفروليه-فان</p>
                            <p class="add-desc">سياره جديده</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
<!-- modal 1 removed-->
    <div class="modal fade"
    id="myModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{singleProduct.data.ownership_image_url}}" alt="ProductOwnership" width="100%" *ngIf="singleProduct.data.ownership_image_url">
                <p *ngIf="!singleProduct.data.ownership_image_url || null">لا يوجد اثبات ملكيه</p>
            </div>
        </div>
    </div>
    </div>
<!-- modal 2 removed-->
<div class="modal fade" id="staticBackdrop" 
    data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <p>اضافه تقييم</p>
                </div>
                <mat-progress-bar mode="indeterminate" class="my-3" *ngIf="loaderAdd" id="addprog"></mat-progress-bar>
                <div class="modal-body">
                    <form  name="form"
                    #f="ngForm"
                    (ngSubmit)="f.form.valid && onSubmit(f)">
                        <div class="mb-3 form-check">
                            <label class="form-check-label" for="exampleCheck1">اتعهد واقسم بالله انني قمت بشراء سلعة من العضو وان المعلومات التي اقدمها في التقييم هي معلومات صحيحه ودقيقه واتحمل صحه هذه المعلومات</label>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="usercheck"
                                ngModel 
                                required
                                #usercheck="ngModel">
                                    <div class="text-danger" *ngIf="(usercheck.invalid && usercheck.touched)">
                                        <span *ngIf="usercheck.errors?.['required']">يجب التحديد</span>
                                    </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">اكتب تقيمك هنا</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="اكتب تقيمك هنا"
                                name="userdesc"
                                ngModel 
                                required
                                #userdesc="ngModel"></textarea>
                                <div class="text-danger" *ngIf="(userdesc.invalid && userdesc.touched)">
                                    <span *ngIf="userdesc.errors?.['required']">يجب كتابه وصف</span>
                                </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <ngx-star-rating  [id]="'rating'" 
                                name="userrate"
                                ngModel 
                                required
                                #userrate="ngModel"></ngx-star-rating>
                                <div class="text-danger" *ngIf="(userrate.invalid && userrate.touched)">
                                    <span *ngIf="userrate.errors?.['required']">يجب تحديد تقيم</span>
                                </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-save"  [disabled]="f.form.invalid">حفظ</button>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">الغاء</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
<!-- modal buy product -->
<div class="modal fade"
id="buyModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-start">
            <div class="col-5">
                <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                  <img src="../../assets/images/close.svg" alt="close">
                </button>
            </div>
              <p class="text-center">شراء</p>
        </div>
        <div class="modal-body">
            <img class="py-2" src="../../../assets/images/admin_icon.svg" alt="admin_icon">  
            <p class="modal-title ">admin</p>    
            <p class="prod-price"> السعر : {{singleProduct.data.price}}</p>
            <p class="prod-name">{{singleProduct.data.desc}}</p>
        </div>
        <div class="modal-footer">
          <a style="width:100%" 
            href="tel:+{{singleProduct.data.seller_phone}}" 
            class="btn btn-prim" [ngClass]="{'pe-none': singleProduct.data.seller_phone == null}">اتصال <img src="../../../assets/images/call.svg" alt="call"></a>
          <a style="width:100%;" 
            class="btn btn-sec btn-deposit" data-bs-dismiss="modal">عربون <img src="../../../assets/images/deposit_icon.svg" alt="deposit_icon"></a>
        </div>
        <div class="modal-footer justify-content-evenly">
            <a (click)="chat(singleProduct.data.admin_details)" 
            class="btn btn-sec" data-bs-dismiss="modal">محادثه <img src="../../../assets/images/chat.svg" alt="chat"></a>
            <a  href="https://api.whatsapp.com/send?phone=966{{singleProduct.data.seller_phone}}" 
            [ngClass]="{'pe-none': singleProduct.data.seller_phone == null}"
            target="_blank" class="btn btn-prim btn-whats">واتساب <img src="../../../assets/images/whatsapp_icon.svg" alt="whatsapp_icon"></a>
        </div>
      </div>
  </div>
</div>
<!-- modal chat -->
<div class="modal fade"
id="chatModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-start">
            <div class="col-5">
                <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                  <img src="../../assets/images/close.svg" alt="close">
                </button>
            </div>
            <p>اكتب رسالتك هنا</p>
        </div>
        <div class="modal-body d-flex justify-content-between">
                    <textarea class="publisher-input form-control" 
                        type="text" 
                        placeholder="اكتب هنا"
                        [(ngModel)]="messageTxt"
                        [ngModelOptions]="{standalone: true}"
                        (keyup)="$event.keyCode === 13">
                    </textarea>
                <button class="btn text-info" (click)="sendMsg()">
                    <img src="../../assets/images/send.svg" alt="" style="width: 50px;">
                </button>
        </div>
  </div>
</div>
<!-- modal success -->
<div id="success" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../assets/images/sucess-mark.svg" alt="sucess-mark" width="67px">
				<p class="py-4">{{sucessMsg}}</p>
			</div>
		</div>
	</div>
</div>  
<!-- modal faild -->
<div id="faild" 
class="modal fade"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header justify-content-start">
                <div class="col-5">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                      <img src="../../assets/images/close.svg" alt="close">
                    </button>
                </div>
            </div>
			<div class="modal-body text-center">
                <img src="../../../assets/images/faild-mark.svg" alt="faild-mark" width="67px">
				<p class="py-4">{{errMsg}}</p>
			</div>
		</div>
	</div>
</div>  